<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/settingsMenu.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav id="dynamicHeader"></nav>

  <div id="settingsWrapper">

  <header>
    <img
      src="/.static/404box.png"
      alt="ran"
      width="229"
      height="224"/>
    <div id="errorPage">
    <h1><span class="greenText">&gt;mfw 404</span></h1>
      <p>Sorry, Ran-chan couldn't find what you were looking for :(</p>
    </div>
  </header>

  </div>

  <footer id="dynamicFooter"></footer>
  
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/settingsMenu.js"></script>
<script src="/.static/js/hiding.js"></script>
<script src="/.static/js/watcher.js"></script>
</html>
