<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      //<![CDATA[
      //document.write("<link href='css/style-js.css' rel='styleSheet' type='text/css' />"); 
      //is not legal in XHTML, we do the long way:
      var l=document.createElementNS("http://www.w3.org/1999/xhtml","link");
      l.setAttribute("rel", "stylesheet");
      l.setAttribute("type", "text/css");
      l.setAttribute("href", "/.static/css/js.css");
      document.getElementsByTagName("head")[0].appendChild(l);
      //]]>
    </script>
    <link
      href="/.static/css/global.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/posting.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/thread.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/board.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/boardContent.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/watcher.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/settingsMenu.css"
      type="text/css"
      rel="stylesheet" />
      <link
      href="/.static/css/tegaki.css"
      type="text/css"
      rel="stylesheet" />
  </head>
  <body>

    <script src="/.static/js/themeLoader.js"></script>

    <nav id="dynamicHeaderAlt"></nav>

    <header class="boardHeader">
      <video width="300" height="225" playsinline autoplay muted loop id="bannerImage">
      </video>
        <script type="text/javascript">
        document.getElementById("bannerImage").setAttribute("poster", document.getElementById("bannerImage").getAttribute("src"));
        </script>
      <div>
	<p id="labelName"></p>
      </div>
      <p id="labelDescription"></p>
    </header>

      <div id="newThreadText">
	[<a href="#" onclick="displayFunction()">Start a New Thread</a>]
      </div>


    <div id="postingForm">

      <div id="hideThread">
	[<a onclick="hideDisplayFunction()">Hide</a>]
      </div>


      <fieldset id="newPostFieldset">
	<legend>Posting Mode: New Thread</legend>

	<form
          action="/newThread.js"
          enctype="multipart/form-data"
          method="post">

          <table id="postingTable">
          </table>

	  <div id="postingInformation"></div>

          <!-- <p class="small"> -->
          <!--   Remember to follow the -->
          <!--   <a -->
          <!--     href="rules.html" -->
          <!--     class="rules">rules</a> -->
          <!-- </p> -->

          <button
            type="submit"
            id="formButton">Post</button>

	</form>

      </fieldset>

    </div>

    <object id="dynAnnouncement" style="width:450px;height:100px;display:block;" data="https://horus.wapchan.org/announcement.html"></object> 

    <div id="panelMessage">
      <hr>
      <div id="divMessage"></div>
    </div>

    <div id="innerUtilityTop">
      <span>
	[<a href="./catalog.html">Catalog</a>]
      </span>

      <span id="archive">
	[<a id="archiveLinkBoard">Archive</a>]
      </span>

      <span>
	[<a href="#footer">Bottom</a>]
      </span>

      <span>
	[<a onclick="location.reload()">Refresh</a>]
      </span>
    </div>


    <div id="threadList">

      <form
	action="/contentActions.js"
	method="post"
	enctype="multipart/form-data">

	<div id="divThreads"></div>

	<hr class="clearer" />

	<div id="innerUtilityBottom">
	  <span>
	    [<a href="./catalog.html">Catalog</a>]
	  </span>

	  <span id="archive">
	    [<a id="archiveLinkBoardBottom">Archive</a>]
	  </span>

	  <span>
	    [<a href="#">Top</a>]
	  </span>

	  <span>
	    [<a onclick="location.reload()">Refresh</a>]
	  </span>
	</div>
	

	<div class="threadPages">

          <span class="divPages">[ <a id="linkPrevious"></a> <span
							       id="divPages"></span> <a id="linkNext"></a> ]
          </span>

          <div id="boardContentLinks">
            [<a id="linkManagement">Manage Board</a>]
            <span><span></span></span>
            [<a id="linkModeration">Moderate Board</a>]
            <span><span></span></span>
            [<a id="linkMod">Moderate Threads</a>]
          </div>

	</div>

	<div id="actionsForm"></div>

      </form>

    </div>

    <footer id="dynamicFooterAlt"></footer>

  </body>

  <script src="/.static/js/crypto.js"></script>
  <script src="/.static/js/api.js"></script>
  <script src="/.static/js/postCommon.js"></script>
  <script src="/.static/js/captchaModal.js"></script>
  <script src="/.static/js/thumbs.js"></script>
  <script src="/.static/js/tooltips.js"></script>
  <script src="/.static/js/posting.js"></script>
  <script src="/.static/js/board.js"></script>
  <script src="/.static/js/captchaUtils.js"></script>
  <script src="/.static/js/themes.js"></script>
  <script src="/.static/js/draggable.js"></script>
  <script src="/.static/js/settingsMenu.js"></script>
  <script src="/.static/js/hiding.js"></script>
  <script src="/.static/js/mediaHiding.js"></script>
  <script src="/.static/js/embed.js"></script>
  <script src="/.static/js/postingMenu.js"></script>
  <script src="/.static/js/watcher.js"></script>
  <script src="/.static/js/favouriteBoards.js"></script>
  <script src="/.static/js/bottomForms.js"></script>
  <script src="/.static/js/bypassUtils.js"></script>
  <script src="/.static/js/utility.js"></script>
  <script src="/.static/js/ruffle.js"></script>
  <script src="/.static/js/tegaki.min.js"></script>
  <script src="/.static/js/tegakihelper.js"></script> 
</html>
