<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="/.static/css/global.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/index.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/watcher.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/posting.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/settingsMenu.css"
      type="text/css"
      rel="stylesheet" />
    <style>.column {
      width:50%;
      float:left
 }</style>
  </head>
  <body>

    <script src="/.static/js/themeLoader.js"></script>

    <nav id="dynamicHeader"></nav>
    <div id="indexWrapper">

      <div
	id="logoBox"
	class="title">
	<img
          src="/.static/logo.webp"
          class="logoImg"
          alt="logo" title="the offbeat retro content community"/>
      </div>
	  <!--how's it going anon? hope you like my source-->
      <p id="randoMessage" title="click me!"></p>
      <!--<p style="text-align: center;font-size:7px;"><a href="/.static/pages/quotes.html" >got a good quote?</a></p>-->
      
      <script src="https://horus.wapchan.org/quotes.js" type="text/javascript"></script>
      
      <div
	id="divBoards"
	class="topBoards title"></div>
  
      <div  class="alt"></div>

      <fieldset class="titleFieldset">
        <legend>｢news｣</legend>
      <p id="annoTitle">Loading...
      </p>
      <p style="display: flex;">
        <span id="annoMessage"></span>
        <img id="annoImage" style="max-width: 200px;
        width: 100%;
        height: autor;"></p>
      <a id="annoLink"></a>
    </fieldset>
      <fieldset class="titleFieldset">
	<legend>｢hello!｣</legend>
	<p style="font-size:120%">
	Welcome to ｢wapchan｣, the offbeat retro content forum. While most of our discussion boards are geared towards anime & manga, we also have boards where you can relax and shoot the breeze, as well as a number of chat services to keep you connected. <br><br>
  If you're new here, be sure to read the <a href="/.static/pages/rules.html">rules & guidelines</a> to get up to speed on how we do things around here, subscribe to one of our <a href="#postNotifs">post notification services</a>, and start posting! Whether you're a total newbie or a seasoned otaku, we hope you watch and read some new stuff during your time here.
</p>
<p style="color: rgb(181, 189, 104)">楽しむ! - ranchan</p>
  <div id="dynamicLinks" style="text-align: center;">
    ｢<a href="/.static/pages/faq.html">faq & history</a> / 
    <a href="/.static/pages/rules.html">rules & guidelines</a> / 
	  
	  <a href="/.static/pages/quotes.html">banners & quotes</a> / 
    <a href="https://cal.wapchan.org/">events</a> / 
    <a href="/graphs.js">daily post graphs</a> / 
	  <a href="/.static/pages/contact.html">contact</a>｣
	</div>
  <div id="divStats" style="text-align: center;">
    ｢total posts: <span id="labelTotalPosts"></span> / 
    total files: <span id="labelTotalFiles"></span> / 
    total file size: <span id="labelTotalSize"></span>｣
        <div class="hidden">
    <span>/</span> <span><span id="labelTotalPPH"></span></span>
    <span>/</span> <span><span id="labelTotalBoards"></span></span>
    <span>/</span> <span><span id="labelTotalIps"></span></span>
    <span>]</span>
        </div>
	</p>
      </fieldset>
      <fieldset class="titleFieldset">
        <legend>｢boards｣</legend>
        <div id="dynamicLinks">
          <div class="column"><p>｢<a href="/ar" title="cel animated goodness">/ar/ - anime/retro</a>｣</p>
            <p>｢<a href="/a2k" title="oh, the aughties...">/a2k/ - anime/aughts</a>｣</p>
            <p>｢<a href="/br" title="anything goes - keep it pre 2000s">/br/ - random/retro</a>｣</p>
            <p>｢<a href="/clv" title="such is life - yours, preferably">/clv/ - c'est la vie</a>｣</p></div>
            <div class="column">
              <p>｢<a href="/lum" title="i luv lum">/lum/ - urusei yatsura</a>｣</p>
              <p>｢<a href="/meta" title="for anything surrounding the site itself">/meta/ - wapchan discussion</a>｣</p>
              <p>｢<a href="/vr" title="ya got quarters?">/vr/ - vidya/retro</a>｣</p>
            </div>
        </div>
            </fieldset>
            <div class="splitField">
              <fieldset class="titleFieldset">
                <legend>｢chat｣</legend>
                <div id="dynamicLinks">
                  <p>All of our chat services are linked, so use whatever you like best.</p>
                  <div id="dynamicLinks" style="text-align: center;">
                    ｢<a href="irc://irc.rizon.net:+6697/wapchat">irc</a> / 
                    <a href="https://discord.gg/crNSm7cQRz">discord</a> / 
                    <a href="https://matrix.to/#/#wapchat:matrix.com">matrix</a> / 
                    <a href="https://t.me/wapchanchat">telegram</a>｣ 
                  </div>
                </div>
              </fieldset>
              <fieldset class="titleFieldset">
                <legend>｢post notifs｣</legend>
                <div id="dynamicLinks">
                  <p>If you want to get automatically notified whenever a new post is made on here, you can use any of the below channels.</p>
                  <div id="dynamicLinks" style="text-align: center;">
                    ｢<a href="irc://irc.rizon.net:+6697/wapnotif">irc</a> / 
                    <a href="https://discord.gg/crNSm7cQRz">discord</a> / 
                    <a href="https://matrix.to/#/#wapnotif:matrix.com">matrix</a> / 
                    <a href=" https://t.me/wapnotif">telegram</a>｣ 
                  </div>
                </div>
              </fieldset>
                  </div>
  
      <div class="splitField">
	<fieldset class="titleFieldset">
	  <legend>｢latest images｣</legend>
	  <div id="divLatestImages"></div>
	</fieldset>
	<fieldset class="titleFieldset">
	  <legend>｢latest posts｣</legend>
	  <div id="divLatestPosts"></div>
    <object data="https://cal.wapchan.org/timer/index-bottom.html" type="text/html"></object>
	</fieldset>
      </div>
    </div>

    <footer id="dynamicFooter"></footer>

  </body>

  <script src="/.static/js/api.js"></script>
  <script src="/.static/js/themes.js"></script>
  <script src="/.static/js/draggable.js"></script>
  <script src="/.static/js/settingsMenu.js"></script>
  <script src="/.static/js/hiding.js"></script>
  <script src="/.static/js/watcher.js"></script>
  <script src="/.static/js/favouriteBoards.js"></script>
  <script src="/.static/js/announceIndex.js"></script>
  <script>window.onload = function (){$("#relaychat").show();}</script>
    
    
</html>
