<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="/.static/css/global.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/index.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/watcher.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/posting.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/settingsMenu.css"
      type="text/css"
      rel="stylesheet" />
  </head>
  <body>

    <script src="/.static/js/themeLoader.js"></script>

    <object id="dynAnnouncement" style="width:450px;height:100px;display:block;" data="https://horus.wapchan.org/announcement.html"></object> 

    <div id="indexWrapper">

      <div
	id="logoBox"
	class="title">
	<img
          src="/.static/logo-fool.png"
          class="logoImg"
          alt="logo" />
      </div>
      <p id="randoMessage"></p>
      <!--<p style="text-align: center;font-size:7px;"><a href="/.static/pages/quotes.html" >got a good quote?</a></p>-->
      
      <script>
        var texts = [
  '"April hath put a spirit of youth in everything."',
  '"If every fool wore a crown, we should all be kings."',
  '"If it thunders on All Fool\'s Day, expect good crops of corn and hay."',
  '"The first of April is the day we remember what we are the other 364 days of the year."',
  '"Happy birthday, shuu-chan!"',
  '"A fool flatters himself, a wise man flatters the fool."'
];
var element = document.getElementById("randoMessage");
element.innerHTML = texts[Math.floor(Math.random()*texts.length)];
      </script>
      
      <div
	id="divBoards"
	class="topBoards title"></div>

      <div id="dynamicAnnouncement" class="alt"></div>

      <fieldset class="titleFieldset">
	<div id="dynamicLinks"><a href="/logs.js" class="coloredIcon" id="linkGlobalLogs"></a>
	  <span>•</span>
	  <a href="/archives.js" class="coloredIcon" id="linkArchives"></a>
	  <span>•</span>
	  <a href="/graphs.js" class="coloredIcon" id="linkGraphs"></a>
	  <span>•</span>
	  <a href="/.static/pages/globalRules.html" class="coloredIcon" id="linkGlobalRules"></a>
	  <span>•</span>
	  <a href="/.static/pages/links.html" class="coloredIcon" id="linkLinks"></a>
	  <span>•</span>
	  <a href="/.static/pages/about.html" class="coloredIcon" id="linkAbout"></a>
	  <span>•</span>
	  <a href="/.static/pages/contact.html" class="coloredIcon" id="linkContact"></a>
	  <span>•</span>
	  <a href="/.static/pages/quotes.html" class="coloredIcon" id="linkQuotes"></a>
	  <span>•</span>
	  <a href="https://cal.wapchan.org/" class="coloredIcon" id="linkCalendar"></a>
	  <span>•</span>
	  <a href="https://radio.wapchan.org:8000/" class="coloredIcon" id="linkWapFM"></a>
	  <span>•</span>
	  <a href="https://cytu.be/r/waptv" class="coloredIcon" id="linkWapTV"></a>
	</div>
      </fieldset>

      <fieldset class="titleFieldset">
	<legend>死ぬことへようこそ！</legend>
	<p style="font-size: xx-large;color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 1s infinite linear;">
	  wapwap is wap, where anywap can wap!<br /><br />
    PLEASE TAKE OUT THE TRASH! -WAPPY
    
	</p>
  <div class="row">
    <div class="column">
      <img src="/.static/lum1.gif" alt="LUM">
    </div>
    <div class="column">
      <img src="/.static/lummid.gif" alt="lamu">
    </div>
    <div class="column">
      <img src="/.static/lum2.gif" alt="leslie">
    </div>
  </div> 
  <p style="font-size: x-large":>LUM DANCE PARTY!!1</p>
      	<br />



	<br />
	
      </fieldset>

      <fieldset class="titleFieldset">
	<legend>Great places to shitpost</legend>
  <embed src="/.static/JAMMIES.mp3" loop="true" autostart="true" width="0" height="0">
	<div id="divBoards" class="topBoards title">
	    <a href="/ar">/ar/ - Assault Rifle</a>
	    <a href="/br">/br/ - Bromine</a>
	    <a href="/meta">/meta/ - Zuckerberg</a>
	</div>

      </fieldset>
      
      <div class="splitField">
	<fieldset class="titleFieldset">
	  <legend>the most current pictures</legend>
	  <div id="divLatestImages"></div>
	</fieldset>
	<fieldset class="titleFieldset">
	  <legend>WORDS</legend>
	  <div id="divLatestPosts"></div>
	</fieldset>
      </div>
    <fieldset class="titleFieldset">
	<legend>other links</legend>
	<a href="telnet://bbs.wapchan.org">oldfag central</a> <a href="http://bbs.wapchan.org:8002">[http]</a> 
	<br>
    <a href="https://dis.wapchan.org">PLEASE POST HERE</a>
    <br>
    <a href="https://horus.wapchan.org">Horus Gallery (under construction)</a>
      </fieldset>
    <fieldset class="titleFieldset">
    <legend><b>campo de prisioneros de anime</b></legend>
	<iframe src="https://kiwiirc.com/client/wapchan.org:+6697/?&theme=cli#ar" style="border:0; width:100%; height:450px;"></iframe>
	<a href="irc://wapchan.org:+6697/ar?key">If you hate yourself...</a></b>
    </fieldset> 
	<fieldset class="titleFieldset">
	  <legend>you are statistically more likely to become a lumfag than have a gf</legend>
	  <div id="divStats">
	  <span></span> <b><span>Time wasted:</b> <span id="labelTotalPosts"></span></span>
	  <br>
	  <span></span><b><span>All your terrible edits:</b> <span id="labelTotalFiles"></span></span>
	  <br>
	  <span><span> <b><span>The average american eats:</b> <span id="labelTotalSize"></span></span>
	  <br>
	      <div class="hidden">
		<span>/</span> <span><span id="labelTotalPPH"></span></span>
		<span>/</span> <span><span id="labelTotalBoards"></span></span>
		<span>/</span> <span><span id="labelTotalIps"></span></span>
		<span>]</span>
	      </div>
	  </div>
	</fieldset>

    </div>

    <footer id="dynamicFooter"></footer>

  </body>

  <script src="/.static/js/api.js"></script>
  <script src="/.static/js/themes.js"></script>
  <script src="/.static/js/draggable.js"></script>
  <script src="/.static/js/settingsMenu.js"></script>
  <script src="/.static/js/hiding.js"></script>
  <script src="/.static/js/watcher.js"></script>
  <script src="/.static/js/favouriteBoards.js"></script>

</html>
