<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="/.static/css/global.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/index.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/watcher.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/posting.css"
      type="text/css"
      rel="stylesheet" />
    <link
      href="/.static/css/settingsMenu.css"
      type="text/css"
      rel="stylesheet" />
  </head>
  <body>

    <script src="/.static/js/themeLoader.js"></script>

    <nav id="dynamicHeader"></nav>

    <div id="indexWrapper">

      <div
	id="logoBox"
	class="title">
	<img
          src="/.static/logo.png"
          class="logoImg"
          alt="logo" />
      </div>
      <p id="randoMessage"></p>
      <!--<p style="text-align: center;font-size:7px;"><a href="/.static/pages/quotes.html" >got a good quote?</a></p>-->
      
      <script src="https://horus.wapchan.org/quotes.js" type="text/javascript"></script>
      
      <div
	id="divBoards"
	class="topBoards title"></div>
  <object id="dynAnnouncement" style="width:450px;height:100px;display:block;" data="https://horus.wapchan.org/announcement.html"></object> 
      <div  class="alt"></div>

      <fieldset class="titleFieldset">
	<div id="dynamicLinks"><a href="/logs.js" class="coloredIcon" id="linkGlobalLogs"></a>
	  <span>•</span>
	  <a href="/archives.js" class="coloredIcon" id="linkArchives"></a>
	  <span>•</span>
	  <a href="/graphs.js" class="coloredIcon" id="linkGraphs"></a>
	  <span>•</span>
	  <a href="/.static/pages/globalRules.html" class="coloredIcon" id="linkGlobalRules"></a>
	  <span>•</span>
	  <a href="/.static/pages/links.html" class="coloredIcon" id="linkLinks"></a>
	  <span>•</span>
	  <a href="/.static/pages/about.html" class="coloredIcon" id="linkAbout"></a>
	  <span>•</span>
	  <a href="/.static/pages/contact.html" class="coloredIcon" id="linkContact"></a>
	  <span>•</span>
	  <a href="/.static/pages/quotes.html" class="coloredIcon" id="linkQuotes"></a>
	  <span>•</span>
	  <a href="https://cal.wapchan.org/" class="coloredIcon" id="linkCalendar"></a>
	  <span>•</span>
	  <a href="https://radio.wapchan.org:8000/" class="coloredIcon" id="linkWapFM"></a>
	  <span>•</span>
	  <a href="https://cytu.be/r/waptv" class="coloredIcon" id="linkWapTV"></a>
	  <span>•</span>
	  <a href="https://cytu.be/r/storytimecinema" class="coloredIcon" id="linkRum247"></a>
	</div>
      </fieldset>

      <fieldset class="titleFieldset">
	<legend>hey!</legend>
	<p>
	 wapchan is an imageboard that tries to go for a "classic net" feel through regular streams, game nights, and more. we're mostly focused around retro anime and manga, but we have some other boards as well. we also have a <b><a href="https://radio.wapchan.org:8000/">radio station</a></b>, an <b><a href="irc://wapchan.org:+6697/ar?key">IRC server</a></b>, a <b><a href="telnet://bbs.wapchan.org">BBS</a></b> and much more! forget the soulless modern web and get comfy, friend. <br>for more information, check out the <b><a href="/.static/pages/about.html">about</a></b> page.<br>if you want to help spread the word, check out the <b><a href="/.static/pages/recruit.html">recruit</a></b> page.<br>also, visit our <b><a href="/.static/pages/links.html">friendly sites</a></b> sometime!<br>
	 <h4>please make sure to read the <b><a href="/.static/pages/globalRules.html">global rules</a></b> before posting!</h4>
    
	</p>
	
      </fieldset>

      <fieldset class="titleFieldset">
	<legend>boards</legend>

	<div id="divBoards" class="topBoards title">
	    <a href="/ar">/ar/ - Retro Anime</a>
		<a href="/a2k">/a2k/ - 2000s Anime</a>
	    <a href="/br">/br/ - Retro Grab Bag</a>
	    <a href="/meta">/meta/ - Wapchan Discussion</a>
	</div>

      </fieldset>
      
      <div class="splitField">
	<fieldset class="titleFieldset">
	  <legend>latest images</legend>
	  <div id="divLatestImages"></div>
	</fieldset>
	<fieldset class="titleFieldset">
	  <legend>latest posts</legend>
	  <div id="divLatestPosts"></div>
    <object data="https://cal.wapchan.org/timer/index-bottom.html" type="text/html"></object>
	</fieldset>
      </div>
    <fieldset class="titleFieldset">
	<legend>other links</legend>
	<a href="telnet://bbs.wapchan.org">wapnet BBS [telnet]</a> <a href="http://bbs.wapchan.org:8002">[http]</a> 
	<br>
    <a href="https://dis.wapchan.org">Wapchan Textboard</a>
    <br>
    <a href="https://play.wapchan.org/sourcebans/">Wapchan Game Servers</a>
    <br>
    <a href="https://horus.wapchan.org">Horus Gallery (under construction)</a>
      </fieldset>
    <fieldset class="titleFieldset">
    <legend><b>wapchat</b></legend>
	<iframe src="https://kiwiirc.com/nextclient/wapchan.org:+6697/?&theme=cli#ar" style="border:0; width:100%; height:450px;"></iframe>
	<a href="irc://wapchan.org:+6697/ar?key">Or, if you'd prefer to use your own IRC client...</a></b>
    </fieldset> 
	<fieldset class="titleFieldset">
	  <legend>stats</legend>
	  <div id="divStats">
	  <span></span> <b><span>Total posts:</b> <span id="labelTotalPosts"></span></span>
	  <br>
	  <span></span><b><span>Media files stored:</b> <span id="labelTotalFiles"></span></span>
	  <br>
	  <span><span> <b><span>Total media size:</b> <span id="labelTotalSize"></span></span>
	  <br>
	      <div class="hidden">
		<span>/</span> <span><span id="labelTotalPPH"></span></span>
		<span>/</span> <span><span id="labelTotalBoards"></span></span>
		<span>/</span> <span><span id="labelTotalIps"></span></span>
		<span>]</span>
	      </div>
	  </div>
	</fieldset>

    </div>

    <footer id="dynamicFooter"></footer>

  </body>

  <script src="/.static/js/api.js"></script>
  <script src="/.static/js/themes.js"></script>
  <script src="/.static/js/draggable.js"></script>
  <script src="/.static/js/settingsMenu.js"></script>
  <script src="/.static/js/hiding.js"></script>
  <script src="/.static/js/watcher.js"></script>
  <script src="/.static/js/favouriteBoards.js"></script>

</html>
