<!DOCTYPE html>
<html>
<head>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.16chan.xyz/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/index.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>
        [</span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"></a> <span>
        /
        </span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a> <span>
        /
        </span> <a
        href="/.static/pages/donate.html"
        class="coloredIcon"
        id="navPosting"></a> <span id="boardListLinks">]&nbsp;&nbsp;&nbsp;
        [&nbsp;<a href="/g">g</a>
        /
        <a href="/meta">meta</a>
        /
        <a href="/pol">pol</a>
        /
        <a href="/r9k">r9k</a>
        /
        <a href="/tv">tv</a>
        ]
    </span>
    </span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> <span> </span>
  </nav>

  <div id="indexWrapper">

    <div
      id="logoBox"
      class="title">
      <img
        src="/.static/logo.png"
        class="logoImg"
        alt="logo" />
    </div>

    <div
      id="infoBox"
      class="title">
      <p>16chan</p>
    </div>
    
    <div
      id="divBoards"
      class="topBoards title"></div>

    <h2>16chan</h2>
    <div id="divWelcome">
      16chan is a simple imageboard where anyone can post comments and share images. There are boards dedicated to a variety of topics. Users do not need to register an account before participating in the community.<br /><br />

      Be sure to familiarize yourself with the <a href="">Rules</a> before posting, and read the <a href="">FAQ</a> if you wish to learn about how to use the site.
    </div>

    <h2>Boards</h2>
    <div id="divBoardsList">
      <div class="column">
	<div id="boardListCategory">NSFW Boards</div>
	<div id="boardListContent">
	  <a href="/pol">Politically Incorrect</a><br />
	  <a href="/r9k">ROBOT9001</a>
	</div>
      </div>
      <div class="column">
	<div id="boardListCategory">SFW Boards</div>
	<div id="boardListContent">
	  <a href="/g">Technology</a><br />
	  <a href="/meta">16chan Discussion</a><br />
	  <a href="/tv">Television & Film</a><br />
	</div>
      </div>
    </div>
    
    <h2>Latest Images</h2>
    <div id="divLatestImages"></div>

    <h2>Latest Posts</h2>
    <div id="divLatestPosts"></div>

    <h2>Stats</h2>
    <div id="divStats">
      <span></span> <span><b>• Total Posts: </b><span id="labelTotalPosts"></span></span><br />
      <span></span> <span><b>• Posts in Last Hour: </b><span id="labelTotalPPH"></span></span><br />
      <span></span> <span><b>• Active Content: </b><span id="labelTotalSize"></span></span>
      <div id="irrelevantStats">
      <span>/</span> <span>Unique recent IPs: <span id="labelTotalIps"></span></span>
      <span>/</span> <span>Total boards: <span id="labelTotalBoards"></span></span>
      <span>/</span> <span>Total media size: <span id="labelTotalSize"></span></span>
      <span></span> <span><b>• Active Content: </b><span id="labelTotalFiles"></span></span>
      <span></span>
      </div>
    </div>


    <div
      id="links"
      class="title">
      <span>[</span>
      <a
        href="/logs.js"
        class="coloredIcon"
        id="linkLogs"></a>
      <span>/</span>
      <a
        href="/archives.js"
        class="coloredIcon"
        id="linkArchives"></a>
      <span>/</span>
      <a
        href="/graphs.js"
        class="coloredIcon"
        id="linkGraphs"></a>
      <span>/</span>
      <a
        href="/.static/pages/globalRules.html"
        class="coloredIcon"
        id="linkGlobalRules"></a>
      <span>/</span>
      <a
        href="/.static/pages/links.html"
        class="coloredIcon"
        id="linkLinks"></a>
      <span>/</span>
      <a
        href="/.static/pages/about.html"
        class="coloredIcon"
        id="linkAbout"></a>
      <span>/</span>
      <a
        href="/.static/pages/contact.html"
        class="coloredIcon"
        id="linkContact"></a>
      <span>/</span>
      <a
        href="/account.js"
        class="coloredIcon"
        id="linkAccount"></a>
      <span>/</span>
      <a
        class="coloredIcon"
        id="linkEngine"></a>
      <span>]</span>
    </div>

  </div>

<div class="footerBar" id="footerBarType" value="A"></div>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>
<script src="/.static/js/footerInject.js"></script>

</html>
