<!DOCTYPE html>
<html>
    <head>
	<script type="text/javascript" id="dynamicAnalytics"></script>
	<title>No Cookie Captcha</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/.static/css/global.css" type="text/css" rel="stylesheet" />
	<link href="/.static/css/index.css" type="text/css" rel="stylesheet" />
	<link href="/.static/css/watcher.css" type="text/css" rel="stylesheet" />
	<link href="/.static/css/posting.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

	<script src="/.static/js/themeLoader.js"></script>

	<nav id="dynamicHeader"></nav>

	<div id="indexWrapper">

            <div id="logoBox" class="title">
		<a href="/">
		    <img src="/.static/logo.png" class="logoImg" alt="logo" />
		</a>
            </div>

	    <div id="dynamicLinks"></div>

	    <div class="contentBox other">
		<h2>No Cookies?</h2>
		<div id="contentBoxInner">

			<div id="divSolvedCaptcha">
			    <b>
				Captcha solved. Input this ID as the answer to the captcha when posting:<br>
				<center><span id="labelCaptchaId"></span></center>
			    </b>
			</div>
			<div>
			    <p>No problem! Solve this captcha here instead.</p>
			    <img id="imageCaptcha">
			    <form
				method="post"
				action="/solveCaptcha.js"
				enctype="multipart/form-data">
				<input
				    type="hidden"
					  name="captchaId"
				    id="inputCaptchaId">

				<table>
				    <tr>
					<th id="labelContent"><span id="loginText">Answer</span></th>
					<th>
					    <input type="text" name="answer">
					</th>
				    </tr>
				</table>

				<input type="submit" value="Solve">

			    </form>
			</div>

		</div>
	    </div>

	</div>

	<footer id="dynamicFooter"></footer>

    </body>

    <script src="/.static/js/api.js"></script>
    <script src="/.static/js/themes.js"></script>
    <script src="/.static/js/draggable.js"></script>
    <script src="/.static/js/watcher.js"></script>
    <script src="/.static/js/favouriteBoards.js"></script>

</html>
