<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" id="dynamicAnalytics"></script>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <div class="navBar" id="navBarType" value="A"></div>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
    <hr />
    <p>
      Your ip range <span id="rangeLabel"></span> is banned from <span
        id="boardLabel"></span>
    </p>
  </header>

<div class="footerBar" id="footerBarType" value="A"></div>
	<footer id="dynamicFooter"></footer>

</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
