<!DOCTYPE html>
<html>
    <head>
	<script type="text/javascript" id="dynamicAnalytics"></script>
	<title>Rules</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/.static/css/global.css" type="text/css" rel="stylesheet" />
	<link href="/.static/css/index.css" type="text/css" rel="stylesheet" />
	<link href="/.static/css/watcher.css" type="text/css" rel="stylesheet" />
	<link href="/.static/css/posting.css" type="text/css" rel="stylesheet" />
    </head>

    <body>

	<script src="/.static/js/themeLoader.js"></script>

	<nav id="dynamicHeader"></nav>

	<div id="indexWrapper">

            <div id="logoBox" class="title">
		<img src="/.static/logo.png" class="logoImg" alt="logo" />
            </div>

	    <div id="dynamicLinks"></div>

	    <div class="contentBox">
		<h2>Rules of /<span id="boardLabel"></span>/</h2>
		<div id="contentBoxInner">
		    <div id="divRules"></div>

		    <p>
			Remember that no matter the rules of the board, all
			<a href="/.static/pages/globalRules.html">global rules</a>
			apply
		    </p>
		</div>
	    </div>

	</div>

	<footer id="dynamicFooter"></footer>

    </body>

    <script src="/.static/js/api.js"></script>
    <script src="/.static/js/themes.js"></script>
    <script src="/.static/js/draggable.js"></script>
    <script src="/.static/js/watcher.js"></script>
    <script src="/.static/js/favouriteBoards.js"></script>

</html>
