<table>
  <!-- <tr> -->
  <!--   <td>09/24/21</td> -->
  <!--   <td>Server move is actually happening earlier than expected, tomorrow, 9/25 at 9:30am PST, an expected downtime of 24 hours. We apologize about the inconvenience.</td> -->
  <!-- </tr> -->
    <!-- <tr> -->
    <!-- 	<td>09/14/21</td> -->
    <!-- 	<td>16chan servers are being migrated on October 1st, there is an expected downtime of 24 hours. We apologize about the inconvenience.</td> -->
    <!-- </tr> -->
    <!-- <tr> -->
    <!-- 	<td>11/30/20</td> -->
    <!-- 	<td>Our server migration on 11/29/20 was successful!</td> -->
    <!-- </tr> -->  
    <tr style="color:red; font-weight:bold">
	<td>08/28/20</td>
	<td>Come and join our Matrix/IRC servers, the info can be found <a href="/.static/pages/irc.html">here</a>.</td>
    </tr>

    <!-- <tr> -->
    <!-- 	<td>02/09/20</td> -->
    <!-- 	<td><a href="/ausneets">/ausneets/</a> has been added!</td> -->
    <!-- </tr> -->

    <!-- <tr> -->
    <!-- 	<td>11/23/19</td> -->
    <!-- 	<td>Donations can now be made via PayPal, thank you for all of your support!</td> -->
    <!-- </tr> -->

    <!-- <tr> -->
    <!-- 	<td>11/21/19</td> -->
    <!-- 	<td>We have successfully migrated to LynxChan 2.3.0, to see all of the changes to 16chan, click <a href="https://im663.com/post/16chan-updates/">here</a>.</td> -->
    <!-- </tr> -->
</table>
