<table>
    <tr>
	<td>11/10/19</td>
	<td>The new <a href="/culture">/culture/</a> board is now live! Come check it out.</td>
    </tr>
    <tr>
	<td>11/10/19</td>
	<td>We have successfully migrated to LynxChan 2.3.0, to see all of the changes to 16chan, click <a href="https://im663.com/post/16chan-updates/">here</a>.</td>
    </tr>
    <tr>
	<td>08/15/19</td>
	<td>The 16chan Android app is now live! Instructions on how to download it and set it up can be found <a href="/.static/pages/mobile.html">here</a>.</td>
    </tr>
</table>
