<table>
    <tr>
	<td>11/25/19</td>
	<td class="important">Just launched <a href="https://formerlychucks.com/">Formerly Chuck's</a>, an imageboard dedicated to television and film! Come check it out and quality post.</td>
    </tr>
    <tr>
	<td>11/23/19</td>
	<td>Donations can now be made via PayPal, thank you for all of your support!</td>
    </tr>
    <tr>
	<td>11/21/19</td>
	<td>We have successfully migrated to LynxChan 2.3.0, to see all of the changes to 16chan, click <a href="https://im663.com/post/16chan-updates/">here</a>.</td>
    </tr>
    <tr>
	<td>08/15/19</td>
	<td>The 16chan Android app is now live! Instructions on how to download it and set it up can be found <a href="/.static/pages/mobile.html">here</a>.</td>
    </tr>
</table>
