<div id="footer">
  <a href="/.static/pages/about.html">about</a>
  •
  <a href="/.static/pages/globalRules.html">global rules</a>
  •
  <a href="/.static/pages/links.html">links</a>
•
  <a href="/.static/pages/legal.html">legal</a>
  •
  <a href="/.static/pages/contact.html">contact</a>
  •
  <a href="https://gitgud.io/ranchan/waplynx">source code</a>
  •
  <a class="coloredIcon" id="linkEngine" href="https://gitgud.io/LynxChan/LynxChan">LynxChan</a>
  <br />
<br />
have a good one, anon!
</div>
