<span id="navLinkSpan"> <span>[</span> <a
    href="/"
    class="coloredIcon"
    id="navLinkHome"></a> <span>/</span> <a
    href="/boards.js"
    class="coloredIcon"
    id="navBoardList"></a> <span>/</span> <a
    href="/overboard"
    class="coloredIcon"
    id="navOverboard"></a> <span>/</span> <a
    href="/static/pages/posting.html"
    class="coloredIcon"
    id="navPosting"></a> 
	<a href="/account.js" class="coloredIcon" id="navMod">User Account</a>
	<span>]</span>
</span>
<span id="navTopBoardsSpan"> </span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan">
    <span>[</span>
    <a href=".." id="linkBack" class="coloredIcon"></a>
    <span>/</span>
    <a href="#bannerImage" id="linkTop" class="coloredIcon"></a>
    <span>/</span>
    <a href="#footer" id="linkBottom" class="coloredIcon"></a>
    <span>/</span>
    <a href="../catalog.html" id="navCatalog" class="coloredIcon"></a>
    <span>]</span>
</span>
