<span id="navLinkSpan"> <span>[</span> <a
    href="/"
    class="coloredIcon"
    id="navLinkHome"></a> <span>/</span> <a
    href="/boards.js"
    class="coloredIcon"
    id="navBoardList"></a> <span>/</span> <a
    href="/overboard"
    class="coloredIcon"
    id="navOverboard"></a> <span>/</span> <a
    href="/static/pages/posting.html"
    class="coloredIcon"
    id="navPosting"></a> 
	<a href="/account.js" class="coloredIcon" id="navMod">User Account</a>
	<span>]</span>
</span>
<span id="navTopBoardsSpan"> </span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan">
    <span>[</span>
    <a class="coloredIcon" id="linkLogs"></a>
    <span>/</span>
    <a href="#" class="coloredIcon" id="linkTop"></a>
    <span>/</span>
    <a href="#footer" class="coloredIcon" id="linkBottom"></a>
    <span>/</span>
    <a href="catalog.html" class="coloredIcon" id="navCatalog"></a>
    <span>/</span>
    <a href="index.rss" class="coloredIcon" id="linkRss"></a>
    <span>]</span>
</span>
