<link rel="stylesheet" href="/.static/line-awesome/css/line-awesome.min.css">
<!-- <iframe src="https://wapchan.org/.static/silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
<audio id="player" autoplay>
    <source src="https://wapchan.org/.static/patriotic.mp3" type="audio/mp3">
</audio> -->
<style>.coloredIcon {
  font-size: 8pt;
}</style>
<script src="/.static/js/jquery.min.js"></script>
    <span id="navLinkSpan" style="font-size: 0;">
      <span class="statusBar">
        <p>｢<a href="/" title="home">home</a>｣</p>
      </span>
      <span class="statusBar">
        <p>｢<a href="/ar" title="anime/retro">ar</a> / <a href="/a2k" title="anime/aughts">a2k</a> / <a href="/br" title="random/retro">br</a> / <a href="/clv" title="c'est la vie">clv</a> / <a href="/lum" title="urusei yatsura">lum</a> / <a href="/meta" title="wapchan discussion">meta</a> / <a href="/vr" title="vidya/retro">vr</a>｣</p>
      </span>
      <span class="statusBar">
        <p>｢<a href="/overboard" title="latest posts">latest posts</a>｣</p>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>｢<a class="dropbtn" title="info">info</a>｣</p>
          <div class="dropdown-content">
            <a href="/.static/pages/faq.html">faq & history</a>
            <a href="/.static/pages/rules.html">rules & guidelines</a>
            <a href="/.static/pages/staffapply.html">staff</a>
            <a href="/.static/pages/recruit.html">recruit</a>
            <a href="/.static/pages/contact.html">contact</a>
            <a href="/.static/pages/legal.html">legal</a>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>｢<a class="dropbtn">chat</a>｣</p>
          <div class="dropdown-content">
            <a href="irc://irc.rizon.net:+6697/wapchat">irc</a>
            <a href="https://discord.gg/crNSm7cQRz">discord</a>
            <a href="https://matrix.to/#/#wapchat:matrix.com">matrix</a>
            <a href="https://t.me/wapchanchat">telegram</a>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>｢<a class="dropbtn">post notifs</a>｣</p>
          <div class="dropdown-content">
            <a href="ircs://irc.rizon.net:+6697/wapnotif">irc</a>
            <a href="https://matrix.to/#/#wapnotif:matrix.com">matrix</a>
            <a href="https://t.me/wapnotif">telegram</a>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>｢<a class="dropbtn">radio</a>｣</p>
          <div class="dropdown-content">
            <audio controls preload="false" style="width: 100px; height: 40px;">
              <source src="https://radio.wapchan.org:8000/wapfm" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <details style="position: relative;
            top: -5px; width:max-content;">
              <summary style="width:max-content;text-align:left;">last 5 songs</summary>
              <pre id="historics"></pre>
            </details>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <p>｢<a href="https://play.wapchan.org/sourcebans/" title="game servers">game servers</a>｣</p>
      </span>
      <span class="statusBar">
        <p>｢<a href="https://wapchan.org/.static/pages/links.html" title="friendly sites">friendly sites</a>｣</p>
      </span>
      <span id="themeIndex" style="font-size: 10pt;">
        <p>｢style: </p>
      </span>
      <span class="statusBar">
        <p>｣</p>
      </span>
    </span>


<script>
  let values2 = []
  let paragraph = document.getElementById("historics");
  let paragraph2 = document.getElementById("ircusers");
  $.get('https://horus.wapchan.org/history', function(data) {
    values2 = data.split("\n")
    for(let i = 0; i < values2.length; ++i)
    {
      let currentLink = document.createElement("a");
      currentLink.href = "https://www.youtube.com/watch?v=" + values2[i].slice(-16).slice(0, -5);
      currentLink.target = '_blank';
      currentLink.innerHTML = values2[i].substring(8).slice(0, -18);
      currentLink.style = "background-color: #303030;"
      paragraph.appendChild(currentLink);
      paragraph.appendChild(document.createElement("br"));
    }
  }, 'text');
  $.get('https://horus.wapchan.org/ircusercount', function(data) {
    paragraph2.textContent = data + paragraph2.textContent;
    /*let currentLink = document.createElement("a");
    currentLink.href = "irc://wapchan.org:+6697/ar?key"
    currentLink.innerHTML = "IRC"
    paragraph2.appendChild(currentLink);*/
  }, 'text');
</script>
    </span>

<span id="navBoardsSpan"></span>
<span id="navOptionsSpan">
    <span></span>
    <a href="#" class="coloredIcon" id="linkTop"></a>
    <span></span>
    <a href="#footer" class="coloredIcon" id="linkBottom"></a>
    <span></span>
</span>
