<link rel="stylesheet" href="/.static/line-awesome/css/line-awesome.min.css">
<script src="/.static/js/jquery.min.js"></script>
    <span id="navLinkSpan" style="font-size: 0;">
      <span class="statusBar">
        <p>「<a href="/" title="home">home</a>」</p>
      </span>
      <span class="statusBar">
        <p>「<a href="/ar" title="anime/retro">ar</a> / <a href="/a2k" title="anime/aughts">a2k</a> / <a href="/br" title="random/retro">br</a> / <a href="/meta" title="wapchan discussion">meta</a>」</p>
      </span>
      <span class="statusBar">
        <p>「<a href="/overboard" title="overboard">overboard</a>」</p>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>「<a class="dropbtn" title="info">info</a>」</p>
          <div class="dropdown-content">
            <a href="/.static/pages/about.html">about</a>
            <a href="/.static/pages/globalRules.html">rules</a>
            <a href="/.static/pages/staffapply.html">staff</a>
            <a href="/.static/pages/recruit.html">recruit</a>
            <a href="/.static/pages/contact.html">contact</a>
            <a href="/.static/pages/legal.html">legal</a>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>「<a class="dropbtn">wap-fm</a>」</p>
          <div class="dropdown-content">
            <audio controls preload="false" style="width: 100px; height: 40px;">
              <source src="https://radio.wapchan.org:8000/wapfm" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
            <details style="position: relative;
            top: -5px; width:max-content;">
              <summary style="width:max-content;text-align:left;">last 5 songs</summary>
              <pre id="historics"></pre>
            </details>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <p>「<a href="https://play.wapchan.org/sourcebans/" title="game servers">game servers</a>」</p>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>「<a class="dropbtn">misc</a>」</p>
          <div class="dropdown-content">
            <a href="https://dis.wapchan.org/">textboard</a>
            <a href="telnet://bbs.wapchan.org">bbs</a>
            <a href="https://cytu.be/r/waptv">wapTV</a>
            <a href="/.static/pages/links.html">friendly sites</a>
          </div>
        </div>
      </span>
      <span class="statusBar">
        <div class="dropdown">
          <p>「<a class="dropbtn">irc</a>」</p>
          <div class="dropdown-content">
            <a href="irc://wapchan.org:+6697/ar?key"><p id="ircusers"> users online</p></a>
          </div>
        </div>
      </span>
      <span id="themeIndex" style="font-size: 10pt;">
        <p>「</p>
      </span>
      <span class="statusBar">
        <p>」</p>
      </span>
    </span>


<script>
  let values2 = []
  let paragraph = document.getElementById("historics");
  let paragraph2 = document.getElementById("ircusers");
  $.get('https://horus.wapchan.org/history', function(data) {
    values2 = data.split("\n")
    for(let i = 0; i < values2.length; ++i)
    {
      let currentLink = document.createElement("a");
      currentLink.href = "https://www.youtube.com/watch?v=" + values2[i].slice(-16).slice(0, -5);
      currentLink.target = '_blank';
      currentLink.innerHTML = values2[i].substring(8).slice(0, -18);
      currentLink.style = "background-color: #303030;"
      paragraph.appendChild(currentLink);
      paragraph.appendChild(document.createElement("br"));
    }
  }, 'text');
  $.get('https://horus.wapchan.org/ircusercount', function(data) {
    paragraph2.textContent = data + paragraph2.textContent;
    /*let currentLink = document.createElement("a");
    currentLink.href = "irc://wapchan.org:+6697/ar?key"
    currentLink.innerHTML = "IRC"
    paragraph2.appendChild(currentLink);*/
  }, 'text');
</script>
</span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> </span>

