<script src="/.static/js/jquery.min.js"></script>
<span id="navLinkSpan"><span></span> <a
    href="/"
    class="coloredIcon"
    id="navLinkHome"></a><span></span> <a
    href="/boards.js"
    class="coloredIcon"
    id="navBoardList"></a><span></span> <a
    href="/overboard"
    class="coloredIcon"
    id="navOverboard"></a><a
    href="/.static/pages/posting.html"
    class="coloredIcon"
    id="navPosting"></a>

<span>
  <span>
    <div class="dropdown">
      <a class="dropbtn">misc</a>
      <div class="dropdown-content">
	<a href="/.static/pages/posting.html">posting</a>
	<a href="/account.js">mod</a>
      </div>
    </div>
    
  </span>
</span>
<b><a class="mobiledown" href="https://radio.wapchan.org:8000/">WAP-FM</a></b>

<audio controls preload="false" style="width: 100px; height: 15px;">
    <source src="https://radio.wapchan.org:8000/wapfm" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<span>
<details id="last5" style="width:3.69px;position:absolute;top:6.5px;">
<summary id="last5" style="width:100px;">last 5 songs</summary>
<pre id="historics"></pre>
</details>
<p id="ircusers" style="position:relative;left:110px;"> users currently on </p>
</span>
<script>
  let values2 = []
  let paragraph = document.getElementById("historics");
  let paragraph2 = document.getElementById("ircusers");
  $.get('https://horus.wapchan.org/history', function(data) {
    values2 = data.split("\n")
    for(let i = 0; i < values2.length; ++i)
    {
      let currentLink = document.createElement("a");
      currentLink.href = "https://www.youtube.com/watch?v=" + values2[i].slice(-16).slice(0, -5);
      currentLink.target = '_blank';
      currentLink.innerHTML = values2[i].substring(8).slice(0, -18);
      currentLink.style = "background: rgb(210,251,63);background: radial-gradient(circle, rgba(210,251,63,1) 0%, rgba(226,6,241,1) 44%, rgba(0,198,255,1) 73%);"
      paragraph.appendChild(currentLink);
      paragraph.appendChild(document.createElement("br"));
    }
  }, 'text');
  $.get('https://horus.wapchan.org/ircusercount', function(data) {
    paragraph2.textContent = data + paragraph2.textContent;
    let currentLink = document.createElement("a");
    currentLink.href = "irc://wapchan.org:+6697/ar?key"
    currentLink.innerHTML = "IRC"
    paragraph2.appendChild(currentLink);
  }, 'text');
</script>
</span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> </span>

