    <span id="navLinkSpan"><span></span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"></a><span></span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a><span></span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"></a><a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a>

<span>
  <span>
    <div class="dropdown">
      <a class="dropbtn">misc</a>
      <div class="dropdown-content">
	<a href="/account.js">mod</a>
      </div>
    </div>
  </span>
</span>
<b style="text-align=right;"><a href="https://radio.wapchan.org:8000/">WAP-FM</a></b>
<audio controls preload="false" style="width: 100px; height: 15px;">
    <source src="https://radio.wapchan.org:8000/wapfm" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<a href="https://horus.wapchan.org/history">history</a>
    </span>

<span id="navBoardsSpan"></span>
<span id="navOptionsSpan">
    <span></span>
    <a href="#" class="coloredIcon" id="linkTop"></a>
    <span></span>
    <a href="#footer" class="coloredIcon" id="linkBottom"></a>
    <span></span>
</span>
