<span id="navLinkSpan">
    <span>[</span>
    <a href="/" class="coloredIcon" id="navLinkHome"></a>
    <span>/</span>
    <a href="/boards.js" class="coloredIcon" id="navBoardList"></a>
    <span>/</span>
    <a href="/overboard" class="coloredIcon" id="navOverboard"></a>
    <span>/</span>
    <a href="/.static/pages/donate.html" class="coloredIcon" id="navDonate"></a>
    <span>/</span>
    <a href="/.static/pages/posting.html" class="coloredIcon" id="navPosting"></a>
    <span>]</span>

    <span id="navAdditional">
	<span>[</span>
	<a href="/.static/pages/mobile.html" class="coloredIcon" id="navMobile">Mobile App</a>
	<span>/</span>
	<a href="https://im663.com/" class="coloredIcon" id="navBlog">Blog</a>
	<span>/</span>
	<a href="/.static/pages/irc.html" class="coloredIcon" id="navIrc">IRC</a>
	<span>/</span>
	<a href="https://twitter.com/16chanXYZ" class="coloredIcon" id="navTwitter">Twitter</a>
	<span>/</span>
	<a href="/account.js" class="coloredIcon" id="navMod">Mod</a>
	<span>]</span>
    </span>

    <span id="navBoards">
      <span>[</span>
      <a href="/200acres" class="coloredIcon">200acres</a>
	<span>/</span>
      	<a href="/ausneets" class="coloredIcon">ausneets</a>
	<span>/</span>
	<a href="/culture" class="coloredIcon">culture</a>
	<span>/</span>
	<a href="/b" class="coloredIcon">b</a>
	<span>/</span>
	<a href="/g" class="coloredIcon">g</a>
	<span>/</span>
	<a href="/k" class="coloredIcon">k</a>
	<span>/</span>
	<a href="/library" class="coloredIcon">library</a>
	<span>/</span>
	<a href="/mde" class="coloredIcon">mde</a>
	<span>/</span>
	<a href="/meta" class="coloredIcon">meta</a>
	<span>/</span>
	<a href="/pol" class="coloredIcon">pol</a>
	<span>/</span>
	<a href="/r9k" class="coloredIcon">r9k</a>
	<span>/</span>
	<a href="/v" class="coloredIcon">v</a>
	<span>]</span>
    </span>
</span>

<span id="navBoardsSpan"></span>
<span id="navOptionsSpan">
    <span>[</span>
    <a class="coloredIcon" id="linkLogs"></a>
    <span>/</span>
    <a href="#" class="coloredIcon" id="linkTop"></a>
    <span>/</span>
    <a href="#footer" class="coloredIcon" id="linkBottom"></a>
    <span>/</span>
    <a href="catalog.html" class="coloredIcon" id="navCatalog"></a>
    <span>/</span>
    <a href="index.rss" class="coloredIcon" id="linkRss"></a>
    <span>]</span>
</span>
