    <span id="navLinkSpan"><span></span> <a
        href="/"
        class="coloredIcon"
        id="navLinkHome"></a><span></span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a><span></span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"></a><a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a>

      <select id="themeSelector" onchange="boardUrlHandler(this.value)">
	<option disabled selected value>Board Select</option>
	<option value="/200acres/">200acres</option>
	<option value="/ausneets/">ausneets</option>
	<option value="/b/">b</option>
	<option value="/culture/">culture</option>
	<option value="/fascist/">fascist</option>
	<option value="/g/">g</option>
	<option value="/k/">k</option>
	<option value="/library/">library</option>
	<option value="/mde/">mde</option>
	<option value="/meta/">meta</option>
	<option value="/pol/">pol</option>
	<option value="/r9k/">r9k</option>
	<option value="/v/">v</option>
      </select>

<span>
  <span>
    <div class="dropdown">
      <a class="dropbtn">misc</a>
      <div class="dropdown-content">
	<a href="/.static/pages/posting.html">posting</a>
	<a href="/.static/pages/mobile.html">mobile app</a>
	<a href="https://www.im663.com">blog</a>
	<a href="/.static/pages/irc.html">irc and matrix</a>
	<a href="/.static/pages/donate.html">donate</a>
	<a href="/account.js">mod</a>
      </div>
    </div>
  </span>
</span>

      
    </span>
    <span id="navBoardsSpan">
    </span>
    <span id="navOptionsSpan">
      <span>
      </span>
      <a
        class="coloredIcon"
        id="linkLogs"></a> <span></span> <a
        href="#"
        class="coloredIcon"
        id="linkTop"></a> <span></span> <a
        href="#footer"
        class="coloredIcon"
        id="linkBottom"></a> <span></span> <a
        href="catalog.html"
        class="coloredIcon"
        id="navCatalog"></a> <span></span> <a
        href="index.rss"
        class="coloredIcon"
        id="linkRss"></a> <span></span>
    </span>
