<div id="links" class="title">
    <span>[</span>
    <a href="/boards.js" class="coloredIcon" id="linkBoards"></a>
    <span>/</span>
    <a href="/.static/pages/about.html" class="coloredIcon" id="linkAbout"></a>
    <span>/</span>
    <a href="/.static/pages/globalRules.html" class="coloredIcon" id="linkGlobalRules"></a>
    <span>/</span>
    <a href="/.static/pages/contact.html" class="coloredIcon" id="linkContact"></a>
    <span>/</span>
    <a href="/.static/pages/donate.html" class="coloredIcon" id="linkDonate"></a>
    <div id="irrelevantStats">
	<a href="/account.js" class="coloredIcon" id="linkAccount"></a>
	<a class="coloredIcon" id="linkEngine"></a>
    </div>
    <span>]</span>
</div>
