<tbody>

  <tr>
    <th>sage:</th>
    <td><input type="checkbox" class="postingInput" id="checkboxSage" name="sage"></td>
  </tr>

  <tr id="divName">
    <th>name</th>
    <td><input
        type="text"
        class="postingInput"
          id="fieldName"
	  Placeholder="anon"
        name="name"></td>
  </tr>

  <tr>
    <th>subject</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldSubject"
        name="subject">
      <input
        name="boardUri"
        id="boardIdentifier"
        type="hidden"></td>
  </tr>

  <tr>
    <th>message</th>
    <td><textarea
        rows="5"
        cols="35"
        class="postingInput"
        id="fieldMessage"
        name="message"></textarea>

      <p class="small">
        max message length: <span id="labelMessageLength"></span>
      </p></td>
  </tr>
  <tr>
    <th>drawing</th>
    <td>
      <!--<a href="#" onclick="Draw()">size canvas</a>-->
      <div id="oekaki-form" style="margin-bottom: 1px;">Size: <input id="oekakiWidth" type="number" style="width:50px;text-align:center" value="300"> × <input id="oekakiHeight" type="number" style="width:50px;text-align:center" value="300"> <!--<input type="checkbox" name="replay">replay--><button type="button" style="text-align:center; margin:0em;" onclick="openOekaki(document.getElementById('oekakiWidth').value,document.getElementById('oekakiHeight').value)">start drawing!</button>
    </td>
  </tr>
  <tr id="divUpload">
    <th>files</th>
    <td>
      <div
        class="hidden"
        id="dragAndDropDiv">
        <div
          class="dropzone"
          id="dropzone">
          drag files to upload or
          <br>
          click here to select them
        </div>
        <div id="selectedDiv"></div>
      </div>

      <div>
        <input
          type="file"
          name="files"
          id="inputFiles"
          multiple
          class="fileBrowser">
      </div>
      <input
        type="checkbox"
        name="spoiler"
        class="postingCheckbox"
        id="checkboxSpoiler"> <label for="checkboxSpoiler"></label>
    </td>
  </tr>

  <tr id="captchaDiv">

    <th>captcha</th>
    <td><img
      class="captchaImage"
      src="/captcha.js" />

      <div class="subCaptchaDiv">
        <input
          type="button"
          onClick="captchaUtils.reloadCaptcha()"
          value="Reload"
          class="hidden reloadCaptchaButton">
        <span class="captchaTimer"></span>
        <br>

        <input
          name="captcha"
          type="text"
          class="captchaField postingInput"
          id="fieldCaptcha"
          placeholder="answer">

        <a
          href="/noCookieCaptcha.js"
          class="small">no cookies?</a>

      </div></td>
  </tr>

  <tr
    class="hidden small"
    id="formMore">
    <td>More Options</td>
  </tr>

</tbody>
<tbody id="extra">

  <tr>
    <th>e-mail</th>
    <td><input
        type="text"
        class="postingInput"
        id="fieldEmail"
        name="email"></td>
  </tr>

  <tr>
    <th>password</th>
    <td><input
        id="fieldPostingPassword"
        name="password"
        class="postingInput"
        type="password">
      <p class="small">(used to delete files and postings)</p></td>
  </tr>

  <tr>
    <th>misc</th>
    <td>
      <div id="flagsDiv">
        <select
          name="flag"
          id="flagCombobox"></select>
        <img class="flagPreview">
      </div>
      <div id="noFlagDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="checkboxNoFlag"
          name="noFlag">
        <label for="checkboxNoFlag"></label>
      </div>
      <div
        class="hidden"
        id="alwaysUseBypassDiv">
        <input
          type="checkbox"
          class="postingCheckbox postingInput"
          id="alwaysUseBypassCheckBox">
        <label for="alwaysUseBypassCheckBox"></label>
      </div>
    </td>
  </tr>
</tbody>
