/*Elements used exclusively on the board listing*/
/* #boardsWrapper { */
/*   width: 80%; */
/*   margin: 1em auto; */
/*   text-align: center; */
/* } */

#boardsWrapper #divBoards {
  /* margin: 2em 1em 0px; */
  /* display: inline-block; */
  /* text-align: left; */

  margin: 1em 1em 0px;
}

.boardsCell span {
  text-overflow: ellipsis;
}

.search {
  margin: 1em 0 1em 0;
}

.search form {
  display: inline-block;
}

#boardsSort, #searchButton {
  margin-top: 1em;
}

.boardPages {
    /* color: #C0840A; */
    padding: 0.1em 0.25em;
    
    display: none;
}

/* #divBoardsLegend { */
/*   width: 100%; */
/*   text-align: right; */
/*   display: inline-block; */
/* } */

/* #legend { */
/*   width: 15%; */
/*   text-align: left; */
/*   display: inline-block; */
/* } */

/* .boardsCellHeader { */
/*   width: 85%; */
/*   display: inline-table; */
/* } */

/* .boardsCellStats { */
/*   width: 15%; */
/*   display: inline-table; */
/* } */

.boardsCellTags, .divDescription {
  display: block;
}

/* .cellComponent { */
/*   width: 33%; */
/*   text-align: center; */
/*   display: inherit; */
/* } */

/* ADDITION */
#settingsFieldset {
    display: block;
    width: max-content;
    margin: auto;
}

#settingsFieldset label {
    display: initial;
}

#settingsFieldset form {
    text-align: center;
}

#boardsSubmitSearch {
    margin: 10px auto auto auto;
}

#divBoards {
    display: table;
    width: 100%;
    border: 1px solid #111;
    border-bottom: none;
}

#divBoardsLegend {
    display: table-row;
}

.boardsCell {
    display: table-row;
}

.boardsCell hr {
    display: none;
}

.cellComponent {
    display: table-cell;
    text-align: left;
    width: 10%;
}

.boardsCellHeader {
    display: table-cell;
}

.boardsCellStats {
    text-align: center;
    display: contents;
}

#labelBoardTitle,
.boardsCellHeader{
    width: 80%;
}

#legend {
    display: contents;
}

/* .cellComponent, */
/* .boardsCellHeader{ */
/*     border: 1px solid #111; */
/* } */

#divBoardsLegend {
    background: #1D1F21;
}

#divBoards .boardsCell:nth-child(2n) {
    background-color: rgba(255,255,255,.1);
}

#labelPPH,
#labelPosts,
.labelPostsPerHour.cellComponent,
.labelPostCount.cellComponent
{
    text-align: center;
    vertical-align: middle;
}

#labelUsers,
.labelUniqueIps.cellComponent {
    display: none;
}

#labelBoardTitle,
#labelPPH,
#labelPosts,
.boardsCellHeader,
.labelPostsPerHour.cellComponent,
.labelPostCount.cellComponent{
    border: 1px solid #111;
    border-top: none;
    border-left: none;
}

#labelPosts,
.labelPostCount.cellComponent {
    border-right: none;
}

.boardsCellHeader,
#divBoardsLegend span {
    padding: 3px 0px 3px 5px;;
}

#sortingOptions input {
    vertical-align: sub;
}

#errorThrowingJunk {
    display: none;
}

/* END ADDITION */

@media only screen and (max-width: 812px) {
  #boardsWrapper #divBoards {
    display: inline;
  }
  .boardsCellHeader {
    width: 100%;
    display: inline-table;
    text-align: center;
  }
  .boardsCellStats, #divBoardsLegend, .labelTags {
    display: none;
  }
}
