/*Elements used exclusively on the board listing*/
#boardsWrapper {
  max-width: 700px;
  margin: 1em auto;
  text-align: center;
}

#boardsWrapper #divBoards {
  display: inline-block;
  text-align: left;
}

.boardsCell span {
  text-overflow: ellipsis;
}

.search {
  margin: .25em 0 .25em .25em;
  margin-bottom: -2px;
  float: left;
}

.search form {
  display: inline-block;
}

#searchButton {
  float: left;
  margin-left: 8px;
  margin-top: 1px;
  margin-bottom: 15px;
}

#boardsSort {
  float: left;
}

hr {
  border: none;
}

#labelPPH, #labelPosts, #labelUsers {
    width: 45px;
}

.boardPages {
  padding: 0.1em 0.25em;
  display: none;
}

#divBoardsLegend {
  width: 100%;
  text-align: right;
  display: inline-block;
}

#legend {
  text-align: left;
  display: table-row;
  font-weight: bold;
}

#labelName {
  width: 85%;
  text-align: left;
}

.boardsCellHeader {
  width: 82%;
  display: table-row;
  float: left;
}

.boardsCellStats {
  display: table-row;
}

.boardsCellTags, .divDescription {
  display: block;
}

.divDescription {
  display: none;
}

.cellComponent {
  text-align: left;
  display: table-cell;
  padding-left: 4px;
  padding-right: 5px;
  width: 30px;
}

.linkBoard {
  padding-left: 5px;
}

@media only screen and (max-width: 812px) {
  #boardsWrapper #divBoards {
    display: inline;
  }
  .boardsCellHeader {
    width: 100%;
    display: inline-table;
    text-align: center;
  }
  .boardsCellStats, #divBoardsLegend, .labelTags {
    display: none;
  }
  #divStandardBox {
    height: 120px;
  }
}