.topBoards a, .innerPost, .sideCatalogCell, .markedPost, .sideCatalogMarkedCell {
  background: #282A2E;
}

.floatingMenu, #quick-reply table {
  background: #1d1f21;
}

.markedPost, .sideCatalogMarkedCell {
  background: #1d1d21;
}

.sideCatalogCell,
  .markedPost, .sideCatalogMarkedCell {
  border: 1px solid #000;
}

#quick-reply table, .modalDecorationPanel,
  .floatingMenu, .reportFieldset {
  border: 2px solid #282a2e;
}

#newPostFieldset {
  border: 0px solid #282a2e;
}

.logoImg {
    min-width: 1px;
    max-width: 300px;
}

#announcementText {
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

#divLatestPosts .latestPostCell {
  border-bottom: 1px solid #4b4d54;
}

.belowHeaderBar {
  width: 80%;
}

.belowPostFieldset {
  width: 400px;
}

.labelLastEdit {
    color: #707070;
}

#announcementPlacement {
  font-size: 80%;
}

#announcementContent {
  max-width: 450px;
}

#divStandardBox hr {
  border-color: #c5c8c6;
}

#archivePage #settingsWrapper input {
  display: initial;
}

div.banner {
  background: #32DD72;
  color: #000;
  text-align: center;
  width: 260px;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
}

#hideThreadOption {
  font-size: 80%;
}

#boardsPage .wide {
  max-width: 100%;
  min-width: 100%;
}

.linkName.noEmailName:hover {
    color: #5f89ac;
}

.unimportant {
  font-size: 10px;
  color: #000;
}

.unimportant:hover {
  color: #fff;
}

.captchaImage {
  width: 300px;
  height: 100px;
  background-color: white;
}

.small {
  font-size: 75%;
  text-decoration: none;
}

.clearer {
  clear: both;
}

.small a {
  text-decoration: none;
}

#panelReferences a {
  display: block;
}

#boardListIndex {
  width: 70%;
  min-width: 60%;
  margin: auto;
}

.imgLink img, .latestImageCell img, .mediaCell img, .catalogCell img {
  image-orientation: from-image;
}

#federatedText {
  background: maroon;
  font-size: 90%;
  padding: .25em;
  width: 250px;
  border-radius: 6px;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 5px;
  margin-top: 50px;
  font-weight: bold;
}

.linkList a {
  display: table;
}

#themeSelector {
  font-size: 100%;
}

h3, p, label {
  margin: 0.25em 0;
}

hr {
  height: 0px;
  border-width: 1px medium medium;
  border-style: solid none none;
  border-color: #282a2e;
}

a, .coloredIcon, .unhideButton, .embedButton, .checkedFavouriteButton:before,
  #selectedTab, #showFormsButton {
  color: #81a2be;
  cursor: pointer
}

.coloredIcon::before {
  font-family: 'Icons';
}

#navLinkSpan .coloredIcon:before, #navOptionsSpan .coloredIcon:before,
  #links .coloredIcon:before {
  margin-right: 0.25em;
}

a {
  text-decoration: none;
  color: #81a2be;
}

.linkName:hover {
  text-decoration: none;
}

a:hover,
.linkSelf:hover,
.linkQuote:hover,
#showFormsButton:hover {
  color: #5f89ac;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

input, select, textarea {
  background: #fff;
  color: #000;
  font-family: arial, helvetica, sans-serif;
  font-size: 80%;
}

#newThreadButton {
  border-color: rgb(25, 27, 31) rgb(25, 27, 31) rgb(10, 12, 16);
  background: linear-gradient(#37393D, #282A2E) repeat scroll 0% 0% transparent;
}

input[type=button], input[type=submit], button, .dropzone, .selectedCell
  {
  font-family: arial, helvetica, sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

#dropzone {
  font-size: 80%;
  border: 1px solid #c5c8c6;
  background: #282a2e;
}

.title, .unhideButton {
  font-weight: normal;
}

.fileBrowser {
  background: none;
}

/* import resources here; external CSS, fonts, etc */
@font-face {
  font-family: 'Hack';
  src: url('../hack-regular-webfont.eot?v=2.018');
  src: url('../hack-regular-webfont.eot?#iefix&v=2.018')
    format('embedded-opentype'),
    url('../hack-regular-webfont.woff2?v=2.018') format('woff2'),
    url('../hack-regular-webfont.woff?v=2.018') format('woff'),
    url('../hack-regular-webfont.ttf?v=2.018') format('truetype'),
    url('../hack-regular-webfont.svg?v=2.018#hackregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icons';
  src: url('../open-iconic.eot');
  src: url('../open-iconic.eot?#iconic-sm') format('embedded-opentype'),
    url('../open-iconic.woff') format('woff'), url('../open-iconic.ttf')
    format('truetype'), url('../open-iconic.otf') format('opentype'),
    url('../open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* body styles, inherited by whole page */
body {
  color: #c5c8c6;
  background: #1D1F21;
  font-family: arial, helvetica, sans-serif;
  font-size: 100%;
  margin: 0px;
}

/* header and nav / top of page styles */
header {
  margin: 3em auto 0 auto;
  text-align: center;
}

nav {
  height: 18px;
  top: 0;
  width: 100%;
  font-size: 80%;
  text-align: center;
}

nav span, nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0.1em;
}

#navLinkSpan {
  float: left;
}

#favouriteButton {
  display: none;
}

#navOptionsSpan {
  float: right;
}

#navLinkHome:before {
  content: "\e078";
}

#navBoardList:before {
  content: "\e03a";
}

#linkOverboard:before, #navOverboard:before {
  content: "\e007";
}

#settingsButton:before {
  content: "\e041";
}

#navPosting:before {
  content: "\e053";
}

#navCatalog:before {
  content: "\e072";
}

#linkRss:before {
  content: "\e0b7";
}

#linkTop:before {
  content: "\e012";
}

#linkBottom:before {
  content: "\e00f";
}

#linkBack:before {
  content: "\e003";
}

#showFormsButton::before {
  content: "[ ";
}

#showFormsButton::after {
  content: " ]";
}

#showFederatedButton {
  font-size: 80%;
}

#showFederatedButton::before {
  content: "[";
}

#showFederatedButton::after {
  content: "]";
}

#showFormsButton::before,
#showFormsButton::after,
#showFederatedButton::before,
#showFederatedButton::after,
#questionBox {
  color: #c5c8c6;
}

#questionBox:hover {
  color: #5f89ac;
}
/* board list */
#divPages {
  display: inline-block;
}

.divPages {
  font-size: 80%;
}

#watcherButton span {
  display: none;
}

#boardListLinks {
  font-size: 110%;
}

#divPages a {
  text-decoration: none;
  padding: 0 0.25em;
  display: inline-block;
}

a.rules:after {
  font-family: Icons;
  content: "\e052";
  margin-right: 0.5em;
  height: 80%;
  font-size: 80%;
  padding-left: 0.25em;
  vertical-align: middle;
}


#boardsWrapper h2 {
  text-align: left;
}

/* markdown */
.greenText {
  color: #789922;
}

.redText {
  color: #AF0A0F;
  font-weight: bold;
  font-size: 125%;
}

span.spoiler {
  background: #000;
  color: #000;
  padding: 0 1px;
}

.spoiler:hover {
  color: #c5c8c6;
  background: none;
}

.red {
  color: #117743;
}

/* CSS for pages that deal with site and account settings and bans */
#settingsWrapper {
  max-width: 700px;
  margin: 2em auto;
}

#settingsFieldset {
  text-align: left;
  border: none;
}

#settingsWrapper input {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

#newThreadText {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

#innerUtility,
#catalogPage #innerUtilityBottom {
  margin: 1.3em;
  font-size: 80%;
}

#catalogPage #divTools {
  float: right;
  margin-top: 6px;
}

#innerUtilityContent {
  margin-top: -5px;
  margin-bottom: -5px;
}

#innerUtilityBottom {
  font-size: 80%;
}

#settingsFieldset textarea {
  display: block;
  height: 5em;
}

#settingsFieldset label {
  display: block;
}

#fieldMessage {
  width: 244px;
}

#settingsFieldset label input {
  display: inline-block;
}

#settingsWrapper .captchaDiv input {
  display: inline-block;
}

.subCaptchaDiv {
  text-align: left;
}

.captchaTimer {
  font-size: 80%;
}

.wide, #postingForm input[type='text'], .modalTableBody input[type='text'],
  .modalTableBody select, #fieldPostingPassword {
  min-width: 244px;
  max-width: 244px;
}

#redirect, #maint {
  text-align: center;
}

#labelCaptchaId {
  color: #ff0000;
}

#staticPageWrapper {
  margin: 2em auto;
  text-align: center;
}

/* footer styles */
footer {
  width: 100%;
  margin: 3em 0px 2em 0px;
  text-align: center;
  font-size: x-small !important;
}

.innerPost, .markedPost {
  display: inline-block;
  padding: 0.25em;
  max-width: 100%;
}

/* this has to go down here to override anything above it */
.hidden {
  display: none;
}

.hideFileButton:hover,
.hideFileButton.glowOnHover.coloredIcon:hover,
.extraMenuButton.glowOnHover.coloredIcon:hover,
.hideButton.glowOnHover.coloredIcon:hover,
.watchButton.glowOnHover.coloredIcon:hover,
#closeWatcherMenuButton:hover,
.watchedCellCloseButton.glowOnHover.coloredIcon:hover,
#closeSettingsMenuButton:hover,
#closeSideCatalogButton:hover,
.close-btn.coloredIcon:hover,
.floatingMenu.extraMenu div:hover,
.floatingMenu.hideMenu div:hover,
.hideMenu div:hover {
  color: #5f89ac;
}

#settingsWrapper input.hidden {
  display: none;
}

.floatingMenu {
  padding: 0.25em;
}

.floatingMenu .headerLabel {
  font-size: 80%;
}

.floatingMenu .header, .floatingMenu .headerLabel {
  cursor: pointer;
}

#divRemember input {
  display: inline;
}

#ownedDiv a, #volunteeredDiv a {
  display: block;
}

#navBoardList::after {
  content: 'Boards';
}

#navOverboard::after, #linkOverboard::after {
  content: 'Overboard';
}

#linkSfwOver::after {
  content: 'Overboard SFW';
}

#navPosting::after {
  content: 'Donate';
}

#navLinkHome::after {
  content: 'Home';
}

#watcherButton::after {
  content: 'Watching';
}

#settingsButton::after {
  content: 'Settings';
}

#linkLogs::after {
  content: 'Logs';
}

#linkArchives::after {
  content: 'archives';
}

#linkGraphs::after {
  content: 'daily graphs';
}

#linkGlobalRules::after {
  content: 'global rules';
}

#linkLinks::after {
  content: 'links';
}

#linkAbout::after {
  content: 'about';
}

#linkContact::after {
  content: 'contact';
}

#linkAccount::after {
  content: 'account';
}

@media only screen and (max-width: 812px) {
  #navLinkSpan span, #navOptionsSpan span, legend, #settingsButton, #links span,
    .hideMobile {
    display: none;
  }
  #navLinkSpan a::after, #navOptionsSpan a::after, #links a::after {
    content: '';
  }
  nav {
    font-size: 115%;
    height: auto;
    padding: 2px 2px;
  }
  #themeSelector {
    max-width: 100px;
  }
  .logoImg {
    margin-top: 10px;
    height: 75px;
  }
  input, select, textarea {
    font-size: 100%;
  }
  body {
    font-size: 85%;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .captchaImage {
    max-width: 100%;
    height: auto;
    max-height: 100px;
  }
}

#postingForm input:focus,
#postingForm textarea:focus,
.modalDecorationPanel input[type='text']:focus,
#settingsMenu input[type='text']:focus,
#settingsMenu textarea:focus,
#quick-reply input[type="text"]:focus,
#quick-reply textarea:focus,
#quick-reply input[type="password"]:focus,
textarea:focus {
  box-shadow: 0px 0px 5px 2px #2be3ff;
}

#postingForm button:active {
  box-shadow: 0px 0px 5px #117743;
}

/* Yotsuba Theme Starts Here */

body.theme_yotsuba {
  background: #ffe no-repeat;
  background-image: linear-gradient(to bottom, #fed6af 0, transparent 260px);
   color: #800000;
}

.theme_yotsuba .floatingMenu.extraMenu,
.theme_yotsuba .floatingMenu.hideMenu,
.theme_yotsuba .spoiler:hover {
   color: #800000;  
}

.theme_yotsuba .floatingMenu.extraMenu div:hover,
.theme_yotsuba .floatingMenu.hideMenu div:hover {
   color: #ff0000;  
}

.theme_yotsuba .modalDecorationPanel {
  background: #eef2ff
}

.theme_yotsuba #navLinkSpan,
.theme_yotsuba #navOptionsSpan {
  color: #b86;
}

.theme_yotsuba #navLinkSpan a,
.theme_yotsuba #navOptionsSpan a,
.theme_yotsuba #navLinkSpan a:visited,
.theme_yotsuba #navOptionsSpan a:visited,
.theme_yotsuba a.linkSelf,
.theme_yotsuba a.linkSelf:visited,
.theme_yotsuba a.linkQuote,
.theme_yotsuba a.linkQuote:visited,
.theme_yotsuba .sideCatalogCellText
{
  color: maroon;
}

.theme_yotsuba #navLinkSpan a:hover,
.theme_yotsuba #navOptionsSpan a:hover,
.theme_yotsuba .embedButton.glowOnHover:hover {
  color: #ff0000;
}
.theme_yotsuba .innerPost,
.theme_yotsuba .sideCatalogCell{
  background: #f0e0d6;
  border: 1px solid #d9bfb7;
}

.theme_yotsuba .linkName.noEmailName,
.theme_yotsuba .linkName{
  color: #117743;
}

.theme_yotsuba .labelRole {
 color: purple; 
}

.theme_yotsuba .floatingMenu,
.theme_yotsuba #quick-reply table {
  background: #ffe no-repeat;
  background-image: linear-gradient(to bottom, #fed6af 0, transparent 130px);
}

.theme_yotsuba nav {
  background-color: #fed6af;
}

.theme_yotsuba a,
.theme_yotsuba a:visited,
.theme_yotsuba .embedButton.glowOnHover,
.theme_yotsuba #showFormsButton,
.theme_yotsuba #selectedTab {
  color: #00e;
}

.theme_yotsuba #showFormsButton::before,
.theme_yotsuba #showFormsButton::after{
  color: maroon;
}

.theme_yotsuba a:hover {
  color: #ff0000!important;
}

.theme_yotsuba .panelBacklinks a,
.theme_yotsuba .quoteLink,
.theme_yotsuba .quoteLink:visited {
  color: navy;
}

.theme_yotsuba .markedPost,
.theme_yotsuba .sideCatalogMarkedCell{
  background: #f0c0b0;
  border: 1px solid #d99f91;
}

.theme_yotsuba #postingForm th,
.theme_yotsuba div.banner,
.theme_yotsuba .modalTableBody th{
  color: #800000;
  background: #ea8;
  border: 1px solid #800; 
}

.theme_yotsuba h2 {
  background: #ea8;
  border: 1px solid #800;
  border-bottom: none;
}

.theme_yotsuba #divWelcome,
.theme_yotsuba #divBoardsList,
.theme_yotsuba #divLatestImages,
.theme_yotsuba #divStats,
.theme_yotsuba #divLatestPosts,
.theme_yotsuba #divStandardBox,
.theme_yotsuba #divPrivacyBox,
.theme_yotsuba #divFAQBox
{
  background: #f0e0d6;
  border: 1px solid #800; 
}

.theme_yotsuba #divLatestPosts .latestPostCell {
  border-color: #d9bfb7;
}

.theme_yotsuba .modalDecorationPanel {
  background: #ffe;
}

.theme_yotsuba #labelName,
.theme_yotsuba #labelDescription,
.theme_yotsuba .watchedCellLabel a{
  color: maroon; 
}

.theme_yotsuba hr {
  border-color: #d9bfb7;
}

.theme_yotsuba #watchedMenu,
.theme_yotsuba #settingsMenu,
.theme_yotsuba .floatingMenu.extraMenu,
.theme_yotsuba .floatingMenu.hideMenu
{
  
  background: #F0E0D6;
}

.theme_yotsuba .floatingMenu.extraMenu,
.theme_yotsuba .floatingMenu.hideMenu,
.theme_yotsuba #quick-reply table,
.theme_yotsuba #watchedMenu,
.theme_yotsuba #settingsMenu,
.theme_yotsuba .modalDecorationPanel,
.theme_yotsuba .quoteTooltip {
  border: 1px solid #800;
}

.theme_yotsuba #federationInfo,
.theme_yotsuba #federatedText,
{
  background: maroon;
}

.theme_yotsuba #federationInfo,
.theme_yotsuba #federatedText,
.theme_yotsuba #mobileInfo {
  color: white;
}


.theme_yotsuba #federationInfo a,
.theme_yotsuba #mobileInfo a,
.theme_yotsuba #federatedText a {
  color: white;
}

.theme_yotsuba .labelSubject {
  color: #cc1105;
}

.theme_yotsuba .indicatorSfw {
  color: white;  
}

.theme_yotsuba .extraMenuButton.glowOnHover.coloredIcon,
.theme_yotsuba .hideButton.glowOnHover.coloredIcon,
.theme_yotsuba .watchButton.glowOnHover.coloredIcon,
.theme_yotsuba .archiveIndicator,
.theme_yotsuba .lockIndicator,
.theme_yotsuba .pinIndicator,
.theme_yotsuba .cyclicIndicator,
.theme_yotsuba .bumpLockIndicator
{
  color: #000080;
}

.theme_yotsuba .extraMenuButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba .hideButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba .watchButton.glowOnHover.coloredIcon:hover {
  color: #ff073b;
}

.theme_yotsuba .close-btn.coloredIcon,
.theme_yotsuba #closeWatcherMenuButton,
.theme_yotsuba .watchedCellCloseButton.glowOnHover.coloredIcon,
.theme_yotsuba #closeSettingsMenuButton,
.theme_yotsuba #closeSideCatalogButton{
  color: maroon;
}

.theme_yotsuba .close-btn.coloredIcon:hover,
.theme_yotsuba #closeWatcherMenuButton:hover,
.theme_yotsuba .watchedCellCloseButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba #closeSettingsMenuButton:hover,
.theme_yotsuba #closeSideCatalogButton:hover {
  color: #ff073b;
}

.theme_yotsuba #dropzone,
.theme_yotsuba #dropzoneQr{
  background: white;
}

/* Yotsuba B Theme Starts Here */

body.theme_yotsuba_b {
  background: #eef2ff no-repeat;
  background-image: linear-gradient(to bottom, #d1d5ee 0, transparent 260px);
  color: #000;
}

.theme_yotsuba_b .modalDecorationPanel {
  background: #eef2ff
}

.theme_yotsuba_b .floatingMenu,
.theme_yotsuba_b #quick-reply table {
  background: #eef2ff no-repeat;
  background-image: linear-gradient(to bottom, #d1d5ee 0, transparent 130px);
}

.theme_yotsuba_b nav {
  background-color: #d1d5ee;
}

.theme_yotsuba_b hr,
.theme_yotsuba_b nav {
  border-color: #b7c5d9;
}

.theme_yotsuba_b #postingForm th,
.theme_yotsuba_b .modalTableBody th,
.theme_yotsuba_b h2{
  background: #98e;
}

.theme_yotsuba_b #divWelcome, 
.theme_yotsuba_b #divFAQBox, 
.theme_yotsuba_b #divPrivacyBox, 
.theme_yotsuba_b #divStandardPaddedBox,
.theme_yotsuba_b #divBoardsList,
.theme_yotsuba_b #divLatestPosts,
.theme_yotsuba_b #divLatestImages,
.theme_yotsuba_b #divStats,
.theme_yotsuba_b #divStandardBox
{
  background-color: #d6daf0;
}


.theme_yotsuba_b .innerPost,
.theme_yotsuba_b .innerCell,
.theme_yotsuba_b .quoteTooltip,
.theme_yotsuba_b .markedPost,
.theme_yotsuba_b #divLatestImages img {
  background: #d6daf0;
}

.theme_yotsuba_b .markedPost,
.theme_yotsuba_b .sideCatalogMarkedCell {
  background: #d6bad0
}

.theme_yotsuba_b .innerPost,
.theme_yotsuba_b #divLatestPosts .latestPostCell  {
  border: 1px solid #b7c5d9;
  border-bottom: none;
}

.theme_yotsuba_b .markedPost,
.theme_yotsuba_b .quoteTooltip,
.theme_yotsuba_b .sideCatalogMarkedCell {
  border: 1px solid #ba9dbf;
}

.theme_yotsuba_b a:hover {
  color: #cc1105;
}

.theme_yotsuba_b .boardHeader p {
  color: #af0a0f;
}

.theme_yotsuba_b .noEmailName,
.theme_yotsuba_b .noEmailName:hover,
.theme_yotsuba_b .linkName {
  color: #117743;
}

.theme_yotsuba_b div.banner {
  background: #98e;
}

.theme_yotsuba_b #postingForm input:focus,
.theme_yotsuba_b #postingForm textarea:focus,
.theme_yotsuba_b .modalDecorationPanel input[type='text']:focus,
.theme_yotsuba_b #settingsMenu input[type='text']:focus,
.theme_yotsuba_b #settingsMenu textarea:focus,
.theme_yotsuba_b #quick-reply input[type="text"]:focus,
.theme_yotsuba_b #quick-reply textarea:focus,
.theme_yotsuba_b #quick-reply input[type="password"]:focus,
.theme_yotsuba_b textarea:focus {
  box-shadow: 0px 0px 5px 2px #98e;
}

.theme_yotsuba_b .labelRole {
  color: purple;
}

.theme_yotsuba_b div.banner,
.theme_yotsuba_b .linkSelf,
.theme_yotsuba_b .linkSelf:visited,
.theme_yotsuba_b .linkQuote,
.theme_yotsuba_b .linkQuote:visited,
.theme_yotsuba_b .unimportant,
.theme_yotsuba_b #navPosting,
.theme_yotsuba_b #watcherButton,
.theme_yotsuba_b #settingsButton,
.theme_yotsuba_b #galleryLink,
.theme_yotsuba_b #linkTop,
.theme_yotsuba_b #linkBottom,
.theme_yotsuba_b #navSideCatalog,
.theme_yotsuba_b .extraMenu, 
.theme_yotsuba_b .hideMenu,
.theme_yotsuba_b .hideFileButton.glowOnHover.coloredIcon a,
.theme_yotsuba_b .linkSelf a,
.theme_yotsuba_b #showFormsButton::before, 
.theme_yotsuba_b #showFormsButton::after,
.theme_yotsuba_b #showFederatedButton::before,
.theme_yotsuba_b #showFederatedButton::after,
.theme_yotsuba_b #questionBox
{
  color: #000;
}

.theme_yotsuba_b .nameLink,
.theme_yotsuba_b .hideFileButton.glowOnHover.coloredIcon 
{
  color: #000!important;
}

.theme_yotsuba_b .nameLink:hover,
.theme_yotsuba_b .hideFileButton.glowOnHover.coloredIcon:hover 
{
  color: #d00!important;
}


.theme_yotsuba_b .panelBacklinks a,
.theme_yotsuba_b a:visited:hover,
.theme_yotsuba_b .coloredIcon,
.theme_yotsuba_b .quoteLink,
.theme_yotsuba_b #selectedTab,
.theme_yotsuba_b #navPosting:hover,
.theme_yotsuba_b #watcherButton:hover,
.theme_yotsuba_b #settingsButton:hover,
.theme_yotsuba_b .hideFileButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba_b #galleryLink:hover,
.theme_yotsuba_b #linkTop:hover,
.theme_yotsuba_b #navSideCatalog:hover,
.theme_yotsuba_b #closeWatcherMenuButton:hover,
.theme_yotsuba_b .watchedCellCloseButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba_b #closeSettingsMenuButton:hover,
.theme_yotsuba_b .close-btn.coloredIcon:hover,
.theme_yotsuba_b .extraMenuButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba_b .hideButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba_b .watchButton.glowOnHover.coloredIcon:hover,
.theme_yotsuba_b .linkQuote:visited:hover,
.theme_yotsuba_b #linkBack:hover,
.theme_yotsuba_b #linkBottom:hover,
.theme_yotsuba_b #navCatalog:hover,
.theme_yotsuba_b .floatingMenu.extraMenu div:hover,
.theme_yotsuba_b .floatingMenu.hideMenu div:hover,
.theme_yotsuba_b .hideMenu div:hover,
.theme_yotsuba_b .postCell .quoteLink,
.theme_yotsuba_b #showFormsButton:hover,
.theme_yotsuba_b .linkName.noEmailName:hover,
.theme_yotsuba_b #closeSideCatalogButton:hover,
.theme_yotsuba_b #federationInfo a:hover,
.theme_yotsuba_b #federatedText a:hover,
.theme_yotsuba_b #mobileInfo a:hover
{  
  color: #d00;
}

.theme_yotsuba_b .floatingMenu.extraMenu div:hover, 
.theme_yotsuba_b .floatingMenu.hideMenu div:hover {
  background: #98e;
}

.theme_yotsuba_b a,
.theme_yotsuba_b a:visited,
.theme_yotsuba_b #navBoardList,
.theme_yotsuba_b #navLinkHome,
.theme_yotsuba_b .hideFileButton,
.theme_yotsuba_b .hideFileButton.glowOnHover.coloredIcon,
.theme_yotsuba_b .extraMenuButton.glowOnHover.coloredIcon,
.theme_yotsuba_b .hideButton.glowOnHover.coloredIcon,
.theme_yotsuba_b .watchButton.glowOnHover.coloredIcon,
.theme_yotsuba_b #closeWatcherMenuButton,
.theme_yotsuba_b .watchedCellCloseButton.glowOnHover.coloredIcon,
.theme_yotsuba_b #closeSettingsMenuButton,
.theme_yotsuba_b #closeSideCatalogButton,
.theme_yotsuba_b .close-btn.coloredIcon,
.theme_yotsuba_b .embedButton.glowOnHover,
.theme_yotsuba_b #showFormsButton,
.theme_yotsuba_b #linkRss,
.theme_yotsuba_b #linkBack,
.theme_yotsuba_b #navCatalog {
  color: #34345c;
}

.theme_yotsuba_b .sideCatalogCell {
  background: #d6daf0;
  border: 1px solid #b7c5d9;
}

.theme_yotsuba_b .floatingMenu.extraMenu,
.theme_yotsuba_b .floatingMenu.hideMenu,
.theme_yotsuba_b #quick-reply table,
.theme_yotsuba_b #watchedMenu,
.theme_yotsuba_b #settingsMenu,
.theme_yotsuba_b .modalDecorationPanel {
  border: 1px solid #000;
}

.theme_yotsuba_b #federationInfo,
.theme_yotsuba_b #federatedText {
  background: #9370db;
}

.theme_yotsuba_b #federationInfo a,
.theme_yotsuba_b #mobileInfo a,
.theme_yotsuba_b #federatedText a {
  color: #34345c;
}

.theme_yotsuba_b .labelSubject {
  color: #0f0c5d;
}

.theme_yotsuba_b .indicatorSfw {
  color: white;  
}

.theme_yotsuba_b .extraMenuButton.glowOnHover.coloredIcon,
.theme_yotsuba_b .hideButton.glowOnHover.coloredIcon,
.theme_yotsuba_b .watchButton.glowOnHover.coloredIcon,
.theme_yotsuba_b .archiveIndicator,
.theme_yotsuba_b .lockIndicator,
.theme_yotsuba_b .pinIndicator,
.theme_yotsuba_b .cyclicIndicator,
.theme_yotsuba_b .bumpLockIndicator
{
  color: #5d6a99;
}

.theme_yotsuba_b #dropzone,
.theme_yotsuba_b #dropzoneQr{
  background: white;
}