/*Elements exclusive to the front-page*/
#indexWrapper {
  max-width: 700px;
  margin: 2em auto;
}

#logoBox {
  width: 100%;
  margin: 0 auto 1em auto;
  text-align: center;
}

#infoBox {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 1em auto 2em;
  font-size: 120%;
  display: none;
}

#divStats {
  padding: 0.5em;
  font-size: 80%;
  background: #282A2E;
  border: 1px solid #000;
  border-top: none;
}

#irrelevantStats {
  display: none;
}

#links {
  text-align: center;
  font-size: 90%;
  padding: 0.5em;
}

#links a {
  text-decoration: none;
}

#linkLogs:before {
  content: "\e069";
}

#linkArchives:before {
  content: "\e023";
}

#linkGraphs:before {
  content: "\e018";
}

#linkAccount:before {
  content: "\e081";
}

#linkGlobalRules:before {
  content: "\e0c9";
}

#linkAbout:before {
  content: "\e06c";
}

#linkEngine:before {
  content: "\e064";
}

#linkLinks:before {
  content: "\e06a";
}

#linkContact:before {
  content: "\e05c";
}

.topBoards {
  width: 100%;
  text-align: center;
  margin: 1em 0px;
}

.topBoards a {
  padding: 0.25em 0.5em;
  text-decoration: none;
  margin: 0.5em 0.25em;
  display: inline-block;
  font-size: 90%;
}

#divLatestPosts {
  width: 100%;
  overflow-y: scroll;
  height: 150px;
}

#divLatestPosts .latestPostCell {
  padding: 0.5em;
  font-size: 80%;
}

.latestPostCell a {
  display: block;
}

#divWelcome,
#divLatestImages,
#divBoardsList,
#divLatestPosts,
#divFAQBox {
  margin: 0;
  margin-bottom: 15px;
  background: #282A2E;
  border: 1px solid #000;
  border-top: none;
}

#divStandardBox,
#divRules {
  margin: 0;
  background: #282A2E;
  border: 1px solid #000;
  border-top: none;
  padding: 0.5em;
  font-size: 80%;
}

#divWelcome,
#divFAQBox {
    font-size: 80%;
    padding: 0.5em;
}

#divLatestImages {
  text-align: center;
}

#divLatestImages .latestImageCell {
  display: inline-block;
  max-width: 15%;
  margin: 0 0.5em;
  vertical-align: middle;
}

#divLatestImages img {
  max-width: 125px;
  max-height: 125px;
  padding: 5px;
}

#divBoardsList {
    font-size: 80%;
    padding: 0.5em;
    text-align: center;
    height: 65px;    
}

#divBoardsList .column {
    float: left;
    width: 50%;
}

#divBoardsList .row:after {
    content: "";
    display: table;
    clear: both;
}

#boardListCategory {
    font-weight: bold;
    text-decoration: underline;
}

#boardListContent {
    text-align: center;
    padding: 5px;
}

h2 {
  margin: 0;
  font-size: 80%;
  border: 1px solid #000;
  padding-left: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

@media only screen and (max-width: 812px) {
  .topBoards, #divLatestPosts {
    margin: 0;
  }
  #indexWrapper {
    width: 99%;
  }
  #linkEngine {
    display: none;
  }
}
