/*Elements exclusive to the front-page*/
#indexWrapper {
    width: 670px;
    margin: 2em auto;
    overflow: hidden;
}

#infoBox {
    text-align: center;
    width: 100%;
    padding: 0.5em;
    margin: 1em auto 2em;
    font-size: 120%;
    display: none;
}

.contentRow {
    text-align: center;
}

.contentColumn {
  float: left;
  width: 25%;
}

.nonBoard {
    margin: 0;
}

.contentRow:after {
  content: "";
  display: table;
  clear: both;
}

#links {
    font-size: 75%;
    text-align: center;
}

#links a {
    text-decoration: none;
}

.topBoards {
    width: 100%;
    text-align: center;
    margin: 1em 0px;
}

.topBoards a {
    padding: 0.25em 0.5em;
    text-decoration: none;
    margin: 0.5em 0.25em;
    display: inline-block;
    font-size: 90%;
}

#divLatestPosts {
    width: 100%;
    text-align: center;
}

#divLatestPosts .latestPostCell {
    padding-bottom: 0.25em;
    text-align: left;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#divLatestImages {
    margin: 0 auto;
    text-align: center;
}

#divLatestImages .latestImageCell {
    display: inline-block;
    max-width: 15%;
    margin: 0 0.5em;
    vertical-align: middle;
}

#divLatestImages img {
    max-width: 256px;
    max-height: 256px;
    display: grid;
    padding: 5px;
    margin: auto;
}

#links {
    padding: 3em 0.5em 16px 0.5em;
    font-size: 75%;
    text-align: center;
}

#divStats {
    clear: both;
}

#irrelevantStats {
    display: none;
}

#dynamicAnnouncement {
    margin: auto;
    font-size: 75%;
    line-height: 13px;
    text-align: left;
    border-top: 1px solid #282a2e;
    border-bottom: 1px solid #282a2e;
    padding: 0.25em 0 0.25em 0;
}

#announcementWrapper {
    padding-bottom: 16px;
}

#contentBoxInner ol {
    padding-left: 20px;
    margin: 0;
}

#contentBoxInner ul {
    margin-bottom: 0;
}

#labelBoard {
    display: none;
}

/* Archive Page */

#divThreads {
    display: table;
    width: 100%;
    border-spacing: 1px;
}

#divThreads, #divDates {
    padding: 5px 0 5px 0;
}

.archiveCell {
    display: table-row;
    text-align: center;
}

#divLegend {
    display: table-row;
    background: #1D1F21;
    padding: 3px 7px;
}

#threadI, #threadN, #threadD, #threadV {
    display: table-cell;
    font-weight: bold;
    text-align: center;
    border: 1px solid #111;
}

.Idlabel {
    display: table-cell;
    width: 15%;
}

.nameLabel {
    display: table-cell;
    width: 55%;
    text-align: left;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dateLabel {
    display: table-cell;
    width: 20%;
}

.threadLink {
    display: table-cell;
    width: 10%;
}

#divThreads div:nth-child(2n) {
    background-color: rgba(255,255,255,.1);
}

#divPages {
    font-size: 100%;
    text-align: center;
}

#threadOpen:before {
    content: '[';
}

#threadOpen:after {
    content: ']';
}

#torLink {
    text-align: center;
}

#torLink img {
    vertical-align: bottom;
    padding-right: 3px;
    max-width: 12px;
}

/* End Archive */

@media only screen and (max-width: 812px) {
    .topBoards, #divLatestPosts {
	margin: 0;
    }
    #indexWrapper {
	width: 99%;
    }
    #links a, #divStats {
	font-size: 153%;
    }
    #linkEngine {
	display: none;
    }
    .contentBox.left, .contentBox.right {
	width: inherit;
	float: none;
    }
    .contentColumn {
	float: none;
	margin: auto;
    }
}
