/*Elements exclusive to the front-page*/
/* #indexWrapper { */
/*   /\* width: 80%; *\/ */
/*     margin: 2em auto; */

/*     max-width: 1000px; */
/*     padding-right: 0.5em; */
/* } */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
#randoMessage {
  text-align: center;
  font-style: italic;
}
#logoBox {
  width: 100%;
  /* margin: 0 auto 1em auto; */
  text-align: center;
}

#infoBox {
  text-align: center;
  width: 100%;
  padding: 0.5em;
  margin: 1em auto 2em;
  font-size: 120%;
}

#links, #divStats {
  padding: 0.5em;
  /* font-size: 75%; */
  text-align: center;

  font-size: 11px;
}

#links a {
  text-decoration: none;
}

/* #linkGlobalLogs:before { */
/*   content: "\e069"; */
/* } */

/* #linkArchives:before { */
/*   content: "\e021"; */
/* } */

/* #linkGraphs:before { */
/*   content: "\e018"; */
/* } */

/* #linkAccount:before { */
/*   content: "\e081"; */
/* } */

/* #linkGlobalRules:before { */
/*   content: "\e06f"; */
/* } */

/* #linkAbout:before { */
/*   content: "\e0b0"; */
/* } */

/* #linkEngine:before { */
/*   content: "\e064"; */
/* } */

/* #linkLinks:before { */
/*   content: "\e086"; */
/* } */

/* #linkContact:before { */
/*   content: "\e05c"; */
/* } */

.topBoards {
  width: 100%;
  text-align: center;
  margin: 1em 0px;
}

.topBoards a {
  padding: 0.25em 0.5em;
  text-decoration: none;
  margin: 0.5em 0.25em;
  display: inline-block;
}

#divLatestPosts {
  width: 100%;
  margin: 1em;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

/* #divLatestPosts .latestPostCell { */
/*   display: inline-block; */
/*   overflow: hidden; */
/*   padding: 0.5em; */
/*   margin: 0.5em; */
/*   max-width: 15%; */
/*   max-height: 8em; */
/*   /\* font-size: 75%; *\/ */
/*   vertical-align: middle; */
/* } */

/* .latestPostCell a { */
/*   display: block; */
/* } */

#divLatestImages {
  margin: 0 auto;
  text-align: center;
}

#divLatestImages .latestImageCell {
  display: inline-block;
  max-width: 15%;
  margin: 0 0.5em;
  vertical-align: middle;
}

#divLatestImages img {
  max-width: 125px;
  max-height: 125px;
  padding: 5px;
}

/* ADDITION */
.splitField > * {
    vertical-align: top;
    width: calc(100% - 2em);
    padding-bottom: 1px;
    min-inline-size: auto;
    height: min-content;
}

.splitField {
    width: 100%;
    column-count: 2;
    text-align: center;
    display: inline-flex;
}

#divLatestImages {
    margin: 0 auto;
    text-align: center;
}

#divLatestPosts {
    margin: 0;
    text-align: center;
}

#divLatestPosts .latestPostCell {
    overflow: hidden;
    margin: 0.5em;
    max-height: 8em;
    font-size: 11pt;
    text-align: left;
}
.theme_tomorrow #links, #divStats {
  padding: 0.5em;
  /* font-size: 75%; */
  text-align: center;

  font-size: 9px;
}
.theme_tomorrow #divLatestPosts .latestPostCell {
  overflow: hidden;
  margin: 0.5em;
  max-height: 8em;
  font-size: 9pt;
  text-align: left;
}
.theme_march #links, #divStats {
  padding: 0.5em;
  /* font-size: 75%; */
  text-align: center;

  font-size: 9px;
}
.theme_march #divLatestPosts .latestPostCell {
  overflow: hidden;
  margin: 0.5em;
  max-height: 8em;
  font-size: 9pt;
  text-align: left;
}
.theme_miku #links, #divStats {
  padding: 0.5em;
  /* font-size: 75%; */
  text-align: center;

  font-size: 9px;
}
.theme_miku #divLatestPosts .latestPostCell {
  overflow: hidden;
  margin: 0.5em;
  max-height: 8em;
  font-size: 9pt;
  text-align: left;
}

#divLatestImages img, #divLatestPosts .latestPostCell {
    background: unset;
    border: 1px solid transparent;
}

#dynamicLinks{
    padding: 0.5em;
    font-size: 15pt;
    text-align: center;
}
#divStats{
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}
.theme_miku #dynamicLinks {
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}
.theme_march #dynamicLinks {
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}
.theme_tomorrow #dynamicLinks {
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}
.theme_yotsuba #dynamicLinks {
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}
.theme_yotsuba_b #dynamicLinks {
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}
.theme_warosu #dynamicLinks {
  padding: 0.5em;
  font-size: 12pt;
  text-align: center;
}

fieldset {
    margin-bottom: 8px;
    width: calc(100% - 2em);
}

#torLink {
    text-align: center;
}

#torLink img {
    vertical-align: bottom;
    padding-right: 3px;
    max-width: 12px;
}

#divStats {
    text-align: left;
    padding-bottom: 8px;
}

.contentRow {
    text-align: center;
}

.contentColumn {
  float: left;
  width: 25%;
}

.contentRow:after {
  content: "";
  display: table;
  clear: both;
}

.indicatorSfw::after {
    content: '[SFW]';
    font-size: 70%;
    color: white;
    font-weight: bold;
    padding-left: 2px;
    position: absolute;
}

.topBoards {
    width: 100%;
    text-align: center;
}

.title {
    font-weight: bold;
}

#divBoards {
    font-size: 12pt;
}
.theme_miku #divBoards {
  font-size: 9pt;
}
.theme_march #divBoards {
  font-size: 9pt;
}
.theme_tomorrow #divBoards {
  font-size: 9pt;
}
/* END ADDITION */


@media only screen and (max-width: 812px) {
  .topBoards, #divLatestPosts {
    margin: 0;
  }
  #indexWrapper {
    width: 99%;
  }
  #links a, #divStats {
      /* font-size: 153%; */

      font-size: smaller;
  }
  #linkEngine {
    display: none;
  }
}
