/*Elements that show on threads on both catalogs and regular posting places*/
.lockIndicator:before {
    font-family: Icons;
    content: "\e08a";
}

#galleryLink:before {
    content: "\e083";
}

#galleryLink:after {
    content: "Gallery";
}

.pinIndicator:after {
    font-family: Icons;
    content: "\e0a8";
}

.archiveIndicator:after {
    font-family: Icons;
    content: "\e023";
}

.cyclicIndicator:after {
    font-family: Icons;
    content: "\e08c";
}

.bumpLockIndicator:after {
    font-family: Icons;
    content: "\e0db";
}

.galleryImage {
    max-width: 100vw;
    max-height: 100vh;
}

.contentAction label, .contentAction img {
    display: block;
}
