#watcherButton::before {
  /* content: '\e065'; */
  /* margin-right: 0.25em; */
}

.watchButton::before {
    /* content: '\e065'; */

    font-family: Icofont;
    content: '\ef44';
}

#closeWatcherMenuButton::before,
.close-btn::before
/* .watchedCellCloseButton::before */ {
    /* content: '\e0db'; */

    content: '[X]';
    font-family: arial;
    font-weight: bold;
}

.watchedCell {
  display: table;
  width: 100%;
}

.watchedCellLabel {
  display: table-cell;
  /* width: 90%; */

  width: 93%;
}

.watchedNotification::before {
  font-family: 'Icons';
  content: '\e0D8';
  margin-left: 0.25em;
  color: #A00;
}

#watchedMenu {
  position: fixed;
  left: 100px;
  top: 25px;
  z-index: 100;
}

#watchedMenu label {
  /* font-size: 80%; */
    cursor: pointer;

    font-size: 10pt;
    padding: 0.25rem;
}

/* ADDITION */
#closeWatcherMenuButton {
    float: right;
}

.header {
    margin: 0.25em;
}

.header label {
    font-weight: bold;
    font-size: 11pt !important;
}

.watchedCellCloseButton::before {
    content: '\e0cf';
    font-weight: bold;
    font-family: 'Icons';
}

.watchedCell {
    margin: 0 0.25rem;
}

#watchedMenu > div:nth-child(2n) {
    background: rgba(255,255,255,.1);
}

.watchedCellLabel a {
    font-weight: normal;
}

.watchedCellCloseButton {
    margin-right: 0.40em;
}
/* END ADDITION */

@media only screen and (max-width: 812px) {
  .mobileAlert {
    color: #A00;
  }
}
